@model Macss.Database.Entity.AccountMaster
@{
    ViewBag.Title = "取引先登録";
    ViewBag.PageMainTitle = "取引先登録";
    ViewBag.ConfirmMessage = MacssWeb.Resources.Messages.DeleteConfirm;
    ViewBag.ButtonText = MacssWeb.Resources.ControlText.DeleteExec;
    ViewBag.ConfirmDialogText = MacssWeb.Resources.Messages.DeleteReconfirm;
}
@section Scripts {
    <script>
        $(function () {

            var dt = new Macss.DataTables.MacssDataTable("#SampleList");
            dt.configure();

            //MacssDataTable（dataTables.fixedColumns.js）に表示する列が15件以上あると計算間違いで最左端列にスクロールバーが表示されるため、非表示にする
            $('.DTFC_LeftBodyLiner').css('overflow-y', 'hidden');

        });</script>
}
@using (Html.BeginForm("CreateConfirm", "StockCreate", null, FormMethod.Post))
{
    <div class="row justify-content-between macss-form-button-group-row">
        <div class="col-4">
            <a class="btn btn-secondary" data-toggle="modal" data-target="#TransitionConfirmDialog" role="button">@MacssWeb.Resources.ControlText.BackToList</a>
        </div>
        <div class="col-4 text-right">
            <a class="btn btn-primary" href="@Url.Action("CreateConfirm")" role="button">@MacssWeb.Resources.ControlText.InputConfirm</a>
        </div>
    </div>
    <div class="accordion" id="ConditionAccordion">
        <div class="card">
            <div class="card-header macss-search-config-collapse-header" id="headingOne">
                <div class="mb-0">
                    <button class="btn macss-btn-condition-collapse" type="button" data-toggle="collapse" data-target="#ConditionMain" aria-expanded="true" aria-controls="ConditionMain">
                        <div class="d-inline-block" style="color:#333"></div>
                        <i id="CollapseHidden" class="fas fa-chevron-circle-up" aria-hidden="true" style="color: rgb(120, 188, 255);"></i>
                        <i id="CollapseShow" class="fas fa-chevron-circle-down" aria-hidden="true" style="color: rgb(120, 188, 255); display: none;"></i>
                    </button>
                </div>
            </div>
            <div id="ConditionMain" class="container-fluid mt-3 mb-3 pr-1 collapse show" aria-labelledby="headingOne" data-parent="#ConditionAccordion">
                <table class="table macss-form-table2">
                    <colgroup>
                        <col class="macss-form-table-title2">
                        <col class="macss-form-table-contents2">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <label class="control-label required" for="account_id">取引先コード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label required" for="account_id">取引先名</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">部課名</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">担当者名</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">取引先名カナ</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">取引先略称</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">郵便番号</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label required" for="account_id">住所</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">電話番号</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">FAX番号</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">請求締日</label>
                            </th>
                            <td>
                                <div class="input-group">
                                    <input type="text" id="SampleDTPicker1" class="form-control">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="SampleCalendar1"><i class="fa fa-calendar-alt"></i></button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">機種コードA</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">PC顧客区分コード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">切替後PC顧客区分コード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">PC顧客区分コード切替日</label>
                            </th>
                            <td>
                                <div class="input-group">
                                    <input type="text" id="SampleDTPicker1" class="form-control">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="SampleCalendar1"><i class="fa fa-calendar-alt"></i></button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">TASS用請求先コード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">TASS用請求先コード(個別単価)</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">出荷括り区分</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">TASS用顧客単位出荷括りコード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">TASS用原票Noデータ提供用括りコード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">DCOS用請求先コード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">PATS用請求先コード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">AIMS顧客ラベル用コード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">AIMS総括用請求先コード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">照会グループコード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">請求先コード(大分類)</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">集計表提供制御コード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">売上伝票形式区分</label>
                            </th>
                            <td>
                                <div>
                                    <select class="custom-select form-control" id="Condition3" aria-describedby="Condition3">
                                        <option></option>
                                        <option>通常</option>
                                        <option value="01">1:家賃等翌月分払い対応(営業用)</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">参照元取引先コード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">本社C松本</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">TMS用取引先作成対象区分</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">請求明細書発行区分</label>
                            </th>
                            <td>
                                <div>
                                    <select class="custom-select form-control" id="Condition3" aria-describedby="Condition3">
                                        <option></option>
                                        <option value="00">請求書No.1</option>
                                        <option value="01">出力無し</option>
                                        <option value="02">請求書No.2(輸出課用)</option>
                                        <option value="03">31日1手番のみ発行なし＆1手番以外請求書No1</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">発送形式区分</label>
                            </th>
                            <td>
                                <div>
                                    <select class="custom-select form-control" id="Condition3" aria-describedby="Condition3">
                                        <option></option>
                                        <option>該当外</option>
                                        <option value="01">1:郵便</option>
                                        <option value="02">2:メール</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">地区名</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">経理担当事業部名</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">経理担当部課名</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">経理担当者名</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">部署コード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">消費税区分</label>
                            </th>
                            <td>
                                <div>
                                    <select class="custom-select form-control" id="Condition3" aria-describedby="Condition3">
                                        <option></option>
                                        <option value="00">0:内税</option>
                                        <option value="01">1:外税</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">帳票出力区分</label>
                            </th>
                            <td>
                                <div>
                                    <select class="custom-select form-control" id="Condition3" aria-describedby="Condition3">
                                        <option></option>
                                        <option value="00">0:仕入・売上</option>
                                        <option value="01">1:仕入</option>
                                        <option value="02">2:売上</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">本社得意先コード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">本社仕入先コード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">納品書発行</label>
                            </th>
                            <td>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">発行しない</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">発行する</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">PATS用PC部門事業区分コード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">PATS用切替後PC部門事業区分コード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">PATS用PC部門事業区分コード切替日</label>
                            </th>
                            <td>
                                <div class="input-group">
                                    <input type="text" id="SampleDTPicker1" class="form-control">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="SampleCalendar1"><i class="fa fa-calendar-alt"></i></button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">TMS用使用目的区分</label>
                            </th>
                            <td>
                                <div>
                                    <select class="custom-select form-control" id="Condition3" aria-describedby="Condition3">
                                        <option></option>
                                        <option value="00">0:仕入＆売上</option>
                                        <option value="01">1:仕入</option>
                                        <option value="02">2:売上</option>
                                    </select>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">TMS顧客コード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">TMS協力会社コード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">TMS用更新日時</label>
                            </th>
                            <td>
                                <div class="input-group">
                                    <input type="text" id="SampleDTPicker1" class="form-control">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="SampleCalendar1"><i class="fa fa-calendar-alt"></i></button>
                                    </div>
                                    <input class="time-control" id="TimeExample3" type="text" maxlength="5">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">利用者利用可否</label>
                            </th>
                            <td>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">利用不可</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">利用可</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">使用不可開始日</label>
                            </th>
                            <td>
                                <div class="input-group">
                                    <input type="text" id="SampleDTPicker1" class="form-control">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="SampleCalendar1"><i class="fa fa-calendar-alt"></i></button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">使用不可理由</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">作成日時</label>
                            </th>
                            <td>
                                <div class="input-group">
                                    <input type="text" id="SampleDTPicker1" class="form-control">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="SampleCalendar1"><i class="fa fa-calendar-alt"></i></button>
                                    </div>
                                    <input class="time-control" id="TimeExample3" type="text" maxlength="5">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">更新日時</label>
                            </th>
                            <td>
                                <div class="input-group">
                                    <input type="text" id="SampleDTPicker1" class="form-control">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="SampleCalendar1"><i class="fa fa-calendar-alt"></i></button>
                                    </div>
                                    <input class="time-control" id="TimeExample3" type="text" maxlength="5">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
<div class="mt-4"></div>
<div class="row justify-content-between macss-form-button-group-row mt-4">
    <div class="col-4">
        <a class="btn btn-secondary" data-toggle="modal" data-target="#TransitionConfirmDialog" role="button">@MacssWeb.Resources.ControlText.BackToList</a>
    </div>
    <div class="col-4 text-right">
        <a class="btn btn-primary" href="@Url.Action("CreateConfirm")" role="button">@MacssWeb.Resources.ControlText.InputConfirm</a>
    </div>
</div>
<script>
    function setDepartmentCode(code, value) {
        $("#bumon_cd").val(code);
        $("#DepartmentName").text(value);
    }
    $(function () {
        var createDatePicker = new Macss.DatetimePicker.MacssDtPicker("#create_date", "#CreateDateCalendar");
        createDatePicker.configure();
        var updateDatePicker = new Macss.DatetimePicker.MacssDtPicker("#update_date", "#UpdateDateCalendar");
        updateDatePicker.configure();
    });</script></form>

</div>



<div class="modal" id="TransitionConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="ConfirmDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmDialogTitle">@MacssWeb.Resources.Title.TransitionConfirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @MacssWeb.Resources.Messages.TransitionConfirm
                <br>
                @MacssWeb.Resources.Messages.Confirm
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary macss-btn" href="@Url.Action("Index")" role="button">@MacssWeb.Resources.ControlText.Yes</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@MacssWeb.Resources.ControlText.No</button>
            </div>
        </div>
    </div>
</div>
