@model Macss.Database.Entity.AccountMaster

@{
    ViewBag.PageMainTitle = "入出庫実績更新確認";
    ViewBag.ConfirmMessage = MacssWeb.Resources.Messages.DeleteConfirm;
    ViewBag.ButtonText = MacssWeb.Resources.ControlText.DeleteExec;
    ViewBag.ConfirmDialogText = MacssWeb.Resources.Messages.DeleteReconfirm;
}

@section Scripts {
    <script>
        $(function () {

            var dt = new Macss.DataTables.MacssDataTable("#SampleList");
            dt.configure();

            //MacssDataTable（dataTables.fixedColumns.js）に表示する列が15件以上あると計算間違いで最左端列にスクロールバーが表示されるため、非表示にする
            $('.DTFC_LeftBodyLiner').css('overflow-y', 'hidden');

        });
    </script>
}

@using (Html.BeginForm("Delete", "D001", null, FormMethod.Post))
{

    <div class="alert alert-info">
        <span>以下を更新します。よろしいですか？</span>
    </div>
    <div class="row justify-content-between macss-form-button-group-row">
        <div class="col-4">
            <a class="btn btn-secondary" href="@Url.Action("Edit")" role="button">@MacssWeb.Resources.ControlText.Back</a>
        </div>
    </div>
    <div class="accordion" id="ConditionAccordion">
        <div class="card">
            <div class="card-header macss-search-config-collapse-header" id="headingOne">
                <div class="mb-0">
                    <button class="btn macss-btn-condition-collapse" type="button" data-toggle="collapse" data-target="#ConditionMain" aria-expanded="true" aria-controls="ConditionMain">
                        <div class="d-inline-block" style="color:#333"></div>
                        <i id="CollapseHidden" class="fas fa-chevron-circle-up" aria-hidden="true" style="color: rgb(120, 188, 255);"></i>
                        <i id="CollapseShow" class="fas fa-chevron-circle-down" aria-hidden="true" style="color: rgb(120, 188, 255); display: none;"></i>
                    </button>
                </div>
            </div>
            <div id="ConditionMain" class="container-fluid mt-3 mb-3 pr-1 collapse show" aria-labelledby="headingOne" data-parent="#ConditionAccordion">
                <table class="table macss-form-table2">
                    <colgroup>
                        <col class="macss-form-table-title2">
                        <col class="macss-form-table-contents2">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">入出庫No</label>
                            </th>
                            <td>
                                <div>
                                    016678
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">伝票区分</label>
                            </th>
                            <td>
                                <div>
                                    03 入庫訂正
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">入出庫日</label>
                            </th>
                            <td>
                                <div>
                                    2020/01/04
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">得意先</label>
                            </th>
                            <td>
                                <div>
                                    71281 共信商事（株）
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">倉庫</label>
                            </th>
                            <td>
                                <div>
                                    20 松本物流センター
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">オリジナル出庫指示No</label>
                            </th>
                            <td>
                                <div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<div class="row mt-3 mb-4">
</div>

<table id="SampleList" class="table table-striped table-hover macss-data-table">
    <thead class="macss-data-table-header">
        <!-- thの文字数で列の幅が決まってしまうため、必要に応じて全角スペースを入れて列の幅を調整する必要がある-->
        <tr>
            <th>編集状態</th>
            <th>削除</th>
            <th>入出庫No枝番</th>
            <th>品名コード</th>
            <th>品名</th>
            <th>単位</th>
            <th>規格</th>
            <th>入出庫数</th>
            <th>ロットNo</th>
            <th>棚番</th>
            <th>保存期限</th>
            <th>伝票No</th>
            <th>備考</th>
            <th>PC部門</th>
            <th>PC部門名</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="white-space:nowrap;" class=" macss-table-proc-column" data-dt-row="0" data-dt-column="1">
                <a tabindex="0" class="btn-sm" role="button" data-toggle="popover" data-trigger="focus" style="background-color:mistyrose;color:black">変更</a>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td bgcolor="mistyrose">40</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        @*<tr>
            <td style="white-space:nowrap;" class=" macss-table-proc-column" data-dt-row="0" data-dt-column="1">
                <a tabindex="0" class="btn-sm" role="button" data-toggle="popover" data-trigger="focus" style="background-color:mistyrose;color:black">削除</a>
            </td>
            <td></td>
            <td>
                2
            </td>
            <td>
                0900103
            </td>
            <td>
                M－5251
            </td>
            <td>
                cs
            </td>
            <td>
                WSA8A72A
            </td>
            <td>
                40
            </td>
            <td>K121</td>
            <td>
                60
            </td>
            <td>
                2021/12/02
            </td>
            <td></td>
            <td>
                2021/12/01　40
            </td>
            <td>
                8041
            </td>
            <td>
                庄内物流センター
            </td>
        </tr>*@
    </tbody>
</table>

<div class="mt-4"></div>

<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-4">
        <a class="btn btn-secondary" href="@Url.Action("Edit")" role="button">@MacssWeb.Resources.ControlText.Back</a>
    </div>
    <div class="col-4 text-right">
        <a role="button" class="btn btn-primary" data-toggle="modal" data-target="#ConfirmDialog">更新</a>
    </div>
</div>

<div class="modal" id="ConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="ConfirmDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmDialogTitle">@MacssWeb.Resources.Title.ExecConfirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @MacssWeb.Resources.Messages.EditReconfirm
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Index", "D001", null, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="UploadFileName" name="uploadFileName" value="@ViewBag.UploadFileName" />
                    <button type="submit" class="btn btn-primary">@MacssWeb.Resources.ControlText.Yes</button>
                }
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@MacssWeb.Resources.ControlText.No</button>
            </div>
        </div>
    </div>
</div>
