@* 取引実績一覧(GH21A取引データ保守参考) *@

@section Scripts {
    <script>
        $(function () {
            new Macss.DataTables.MacssDataTable("#D003_01List", [{
                "className": "macss-table-proc-column", "width": 30, "orderable": false, "targets": 0
            }, {
                "className": "macss-table-proc-column", "width": 30, "orderable": false, "targets": 1
            }], 2).configure();

            var cond = new Macss.Collapse.ConditionsPanel("#ConditionAccordion", "#CollapseShow", "#CollapseHidden");
            cond.setCollapseEvent();

            new Macss.DatetimePicker.MacssDtPicker("#date1", "#Calendar1").configure();
            new Macss.DatetimePicker.MacssDtPicker("#date2", "#Calendar2").configure();
            new Macss.DatetimePicker.MacssDtPicker("#date3", "#Calendar3").configure();
            new Macss.DatetimePicker.MacssDtPicker("#date4", "#Calendar4").configure();
            new Macss.DatetimePicker.MacssDtPicker("#date5", "#Calendar5").configure();
            new Macss.DatetimePicker.MacssDtPicker("#date6", "#Calendar6").configure();
            new Macss.DatetimePicker.MacssDtPicker("#date7", "#Calendar7").configure();
            new Macss.DatetimePicker.MacssDtPicker("#date8", "#Calendar8").configure();
        });
    </script>
}

@Html.Partial("../Shared/Dialog/_DepartmentCodeSearch")
@Html.Partial("~/Areas/Tass/Views/Shared/Dialog/_HinmeiCodeSearch.cshtml")
@Html.Partial("~/Areas/Tass/Views/Shared/Dialog/_TokuisakiCodeSearch.cshtml")

@* 検索 *@
@using (Html.BeginForm("Search", "Sample", null, FormMethod.Post))
{

    <div class="accordion" id="ConditionAccordion">
        <div class="card">
            <div class="card-header macss-search-config-collapse-header" id="headingOne">
                <div class="mb-0">
                    <button class="btn macss-btn-condition-collapse" type="button" data-toggle="collapse" data-target="#ConditionMain" aria-expanded="true" aria-controls="ConditionMain">
                        <div class="d-inline-block" style="color:#333">検索設定</div>
                        <i id="CollapseHidden" class="fas fa-chevron-circle-up" aria-hidden="true" style="display:none;"></i>
                        <i id="CollapseShow" class="fas fa-chevron-circle-down" aria-hidden="true" style="display:none;"></i>
                    </button>
                </div>
            </div>

            <div id="ConditionMain" class="container-fluid mt-3 mb-3 pr-1 collapse show" aria-labelledby="headingOne" data-parent="#ConditionAccordion">
                @* 一段目 *@
                <div class="row mr-0 mb-1">
                    @* 対象年月　期間 *@
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">対象年月</span>
                            </div>
                            <input type="month" id="" class="form-control" />
                            <div class="input-group-append">
                                <span class="input-group-text">～</span>
                            </div>
                            <input type="month" id="" class="form-control" />
                        </div>
                    </div>
                    @* 請求明細作成済みフラグ *@
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend w-25">
                                <span class="input-group-text w-100" id="">請求明細作成</span>
                            </div>
                            <select class="custom-select">
                                <option></option>
                                <option>0:未作成</option>
                                <option>1:作成済</option>
                            </select>
                        </div>
                    </div>
                    @* 納品書発行区分 *@
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend w-25">
                                <span class="input-group-text w-100" id="">納品書発行区分</span>
                            </div>
                            <select class="custom-select">
                                <option></option>
                                <option>0:発行しない</option>
                                <option>1:発行する</option>
                            </select>
                        </div>
                    </div>
                </div>
                @* 二段目 *@
                <div class="row mr-0 mb-1">
                    @* データ登録日　期間 *@
                    <div class="col-8">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">データ登録日</span>
                            </div>
                            <input type="text" id="date1" class="form-control" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="Calendar1"><i class="fa fa-calendar-alt"></i></button>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">～</span>
                            </div>
                            <input type="text" id="date2" class="form-control" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="Calendar2"><i class="fa fa-calendar-alt"></i></button>
                            </div>
                        </div>
                    </div>
                    @* データ区分 *@
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend w-25">
                                <span class="input-group-text w-100" id="">データ区分</span>
                            </div>
                            <select class="custom-select">
                                <option></option>
                                <option>101 直送売上</option>
                                <option>111 売上</option>
                                <option>201 直売仕入</option>
                                <option>211 自社在庫仕入</option>
                                <option>310 その他・入庫</option>
                                <option>410 その他・出庫</option>
                            </select>
                        </div>
                    </div>
                </div>
                @* 三段目 *@
                <div class="row mr-0 mb-1">
                    @* データNo *@
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend w-25">
                                <span class="input-group-text w-100" id="">データNo</span>
                            </div>
                            <input type="text" class="form-control" aria-label="" aria-describedby="">
                        </div>
                    </div>
                    @* 取引先 *@
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend w-25">
                                <span class="input-group-text w-100" id="">取引先コード</span>
                            </div>
                            <input class="form-control text-box single-line" data-val="true" data-val-length-max="4" id="" name="" type="text" value="" style="border-top-left-radius:0; border-bottom-left-radius:0;">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#TokuisakiCodeSearchDialog" style="border-top-right-radius:0.25rem; border-bottom-right-radius:0.25rem;">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="">
                            <span id="" class="align-middle"></span>
                        </div>
                    </div>
                    @* 品名 *@
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend w-25">
                                <span class="input-group-text w-100" id="">品名コード</span>
                            </div>
                            <input class="form-control text-box single-line" data-val="true" data-val-length-max="4" id="" name="" type="text" value="" style="border-top-left-radius:0; border-bottom-left-radius:0;">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#HinmeiCodeSearchDialog" style="border-top-right-radius:0.25rem; border-bottom-right-radius:0.25rem;">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="">
                            <span id="" class="align-middle"></span>
                        </div>
                    </div>
                </div>
                @* 四段目 *@
                <div class="row mr-0 mb-1">
                    @* 納入先 *@
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend w-25">
                                <span class="input-group-text w-100" id="">納入先コード</span>
                            </div>
                            <div class="form-check form-check-inline input-group-text mr-0">
                                <input class="form-check-input" type="checkbox">
                                <label class="form-check-label" for="inlineCheckbox1">空白のもののみ対象</label>
                            </div>
                            <input class="form-control text-box single-line" data-val="true" data-val-length-max="4" id="" name="" type="text" value="" style="border-top-left-radius:0; border-bottom-left-radius:0;">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="" style="border-top-right-radius:0.25rem; border-bottom-right-radius:0.25rem;">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="">
                            <span id="" class="align-middle"></span>
                        </div>
                    </div>
                    @* 納品書No *@
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend w-25">
                                <span class="input-group-text w-100" id="">納品書No</span>
                            </div>
                            <input type="text" class="form-control" aria-label="" aria-describedby="">
                        </div>
                    </div>
                </div>
                @* 五段目 *@
                <div class="row mr-0 mb-1">
                    @* 取引日　期間 *@
                    <div class="col-8">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">取引日　　　　</span>
                            </div>
                            <input type="text" id="date3" class="form-control" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="Calendar3"><i class="fa fa-calendar-alt"></i></button>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">～</span>
                            </div>
                            <input type="text" id="date4" class="form-control" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="Calendar4"><i class="fa fa-calendar-alt"></i></button>
                            </div>
                        </div>
                    </div>
                    @* 売上PC *@
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend w-25">
                                <span class="input-group-text w-100" id="">売上PCコード</span>
                            </div>
                            <input type="text" class="form-control" aria-label="" aria-describedby="">
                            <input type="text" class="form-control" aria-label="" aria-describedby="">
                            <input type="text" class="form-control" aria-label="" aria-describedby="">
                        </div>
                    </div>
                </div>
                @* 六段目 *@
                <div class="row mr-0 mb-1">
                    @* 得意先製造番号 *@
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend w-25">
                                <span class="input-group-text w-100" id="">得意先製造番号</span>
                            </div>
                            <input type="text" class="form-control" aria-label="" aria-describedby="">
                        </div>
                    </div>
                    @* 得意先注文番号 *@
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend w-25">
                                <span class="input-group-text w-100" id="">得意先注文番号</span>
                            </div>
                            <input type="text" class="form-control" aria-label="" aria-describedby="">
                        </div>
                    </div>
                </div>
                @* 以降共通検索項目 *@
                @* 七段目 *@
                <div class="row mr-0 mb-1">
                    @* 表示データ *@
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend w-25">
                                <span class="input-group-text w-100" id="">表示データ</span>
                            </div>
                            <div class="macss-input-group-input form-control">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="" value="">
                                    <label class="form-check-label" for="">削除済データを含む</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* 八段目 *@
                <div class="row mr-0 mb-1">
                    @* 作成者名 *@
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend w-25">
                                <span class="input-group-text w-100" id="">作成者名</span>
                            </div>
                            <input type="text" class="form-control" aria-label="" aria-describedby="">
                        </div>
                    </div>
                    @* 作成日時　期間 *@
                    <div class="col-8">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">作成日時</span>
                            </div>
                            <input type="text" id="date5" class="form-control" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="Calendar5"><i class="fa fa-calendar-alt"></i></button>
                            </div>
                            <div class="input-group-append">
                                <input type="text" class="form-control" style="width:150px;" />
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">～</span>
                            </div>
                            <input type="text" id="date6" class="form-control" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="Calendar6"><i class="fa fa-calendar-alt"></i></button>
                            </div>
                            <div class="input-group-append">
                                <input type="text" class="form-control" style="width:150px;" />
                            </div>
                        </div>
                    </div>
                </div>
                @* 九段目 *@
                <div class="row mr-0 mb-1">
                    @* 更新者名 *@
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend w-25">
                                <span class="input-group-text w-100" id="">更新者名</span>
                            </div>
                            <input type="text" class="form-control" aria-label="" aria-describedby="">
                        </div>
                    </div>
                    @* 更新日時　期間 *@
                    <div class="col-8">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">更新日時</span>
                            </div>
                            <input type="text" id="date7" class="form-control" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="Calendar7"><i class="fa fa-calendar-alt"></i></button>
                            </div>
                            <div class="input-group-append">
                                <input type="text" class="form-control" style="width:150px;" />
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">～</span>
                            </div>
                            <input type="text" id="date8" class="form-control" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="Calendar8"><i class="fa fa-calendar-alt"></i></button>
                            </div>
                            <div class="input-group-append">
                                <input type="text" class="form-control" style="width:150px;" />
                            </div>
                        </div>
                    </div>
                </div>

                @* ボタン *@
                <div class="container-fluid pt-4 pb-3 pl-0 clearfix">
                    <div class="float-left">
                        <button type="reset" class="btn btn-secondary btn-lg macss-btn-main">@MacssWeb.Resources.ControlText.ConditionClear</button>
                    </div>
                    <div class="float-right">
                        <button type="submit" class="btn btn-primary btn-lg macss-btn-main">@MacssWeb.Resources.ControlText.Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@* ボタン類 *@
<div class="row mt-3 mb-4">
    <div class="col-10">
        <a class="btn btn-primary" href="@Url.Action("D003_03", "D003")" role="button">売上データ登録</a>
        <a class="btn btn-primary macss-btn-sub" href="@Url.Action("D003_05", "D003")" role="button">出庫実績登録</a>
        <a class="btn btn-primary" href="@Url.Action("D003_10", "D003")" role="button">受入払出実績データアップロード</a>
        <a class="btn btn-primary" href="@Url.Action("D003_13", "D003")" role="button">納品明細書</a>
    </div>
    <div class="col-2 text-right">
    </div>
</div>
<div class="row mt-3">
    <div class="col-10">
        <button type="button" class="btn btn-secondary macss-btn-sub">全選択</button>
        <button type="button" class="btn btn-secondary macss-btn-sub">全解除</button>
    </div>
    <div class="col-2 text-right">
        <div class="dropdown">
            <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bars"></i>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">CSVダウンロード</a>
            </div>
        </div>
    </div>
</div>

@* 一覧 *@
<table id="D003_01List" class="table table-striped table-hover macss-data-table">
    <thead class="macss-data-table-header">
        <tr>
            <th>印刷</th>
            <th></th>
            @* 1 *@
            <th>
                削除
            </th>
            @* 2 *@
            <th>
                データ登録日
            </th>
            @* 3 *@
            <th>
                データ区分
            </th>
            @* 4 *@
            <th>
                データNo
            </th>
            @* 5 *@
            <th>
                売上PCコード
            </th>
            @* 6 *@
            <th>
                取引日
            </th>
            @* 6-1 表示無し *@
            @*<th>
                    納品日
                </th>*@
            @* 7 *@
            <th>
                取引先コード
            </th>
            @* 8 *@
            <th>
                取引先名　　　　　　　　　　　　　　　
            </th>
            @* 9 *@
            <th>
                原価区分
            </th>
            @* 10 *@
            <th>
                品名コード
            </th>
            @* 11 *@
            <th>
                品名　　　　　　　
            </th>
            @* 12 *@
            <th>
                規格・寸法　　　　
            </th>
            @* 12-1 表示無し *@
            @*<th>
                    図面番号
                </th>*@
            @* 12-2 表示無し *@
            @*<th>
                    在庫管理クラス
                </th>*@
            @* 12-3 表示無し *@
            @*<th>
                    材質コード
                </th>*@
            @* 12-4 表示無し *@
            @*<th>
                    材質名称
                </th>*@
            @* 13 *@
            <th>
                数量
            </th>
            @* 14 *@
            <th>
                単位
            </th>
            @* 15 *@
            <th>
                単価
            </th>
            @* 16 *@
            <th>
                金額
            </th>
            @* 16-1 表示無し *@
            @*<th>
                    仕入単価
                </th>*@
            @* 16-2 表示無し *@
            @*<th>
                    粗利益額
                </th>*@
            @* 17 *@
            <th>
                注文No
            </th>
            @* 18 *@
            <th>
                分納回数
            </th>
            @* 19 *@
            <th>
                得意先注文番号
            </th>
            @* 20 *@
            <th>
                得意先製造番号
            </th>
            @* 20-1 表示無し *@
            @*<th>
                    管理用仕入先コード
                </th>*@
            @* 20-2 表示無し *@
            @*<th>
                    仕入先名
                </th>*@
            @* 20-3 表示無し *@
            @*<th>
                    請求取りまとめコード
                </th>*@
            @* 20-4 表示無し *@
            @*<th>
                    請求先原価区分
                </th>*@
            @* 20-5 表示無し *@
            @*<th>
                    在庫区分
                </th>*@
            @* 20-6 表示無し *@
            @*<th>
                    倉庫コード
                </th>*@
            @* 21 *@
            <th>
                納入先コード
            </th>
            @* 22 *@
            <th>
                納入先名　　　　　　　　　　
            </th>
            @* 22-1 表示無し *@
            @*<th>
                    納品書発行区分
                </th>*@
            @* 22-2 表示無し *@
            @*<th>
                    納品書No
                </th>*@
            @* 22-3 表示無し *@
            @*<th>
                    得意先納品書発行済フラグ
                </th>*@
            @* 22-4 表示無し *@
            @*<th>
                    得意先納品書発行回数
                </th>*@
            @* 22-5 表示無し *@
            @*<th>
                    処理理由
                </th>*@
            @* 22-6 表示無し *@
            @*<th>
                    締切日
                </th>*@
            @* 23 *@
            <th>
                対象年月
            </th>
            @* 24 *@
            <th>
                請求明細作成済フラグ
            </th>
            @* 25 *@
            <th>
                仕入明細作成済フラグ
            </th>
            @* 以降共通項目 *@
            @* 26 *@
            <th>
                作成者名　　　　　　　　　　　
            </th>
            @* 27 *@
            <th>
                作成日時
            </th>
            @* 28 *@
            <th>
                更新者名　　　　　　　　　　　
            </th>
            @* 29 *@
            <th>
                更新日時
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="center">
                <input class="form-check-input" type="checkbox" id="" value="" style="width:30px" checked>
            </td>
            <td style="white-space:nowrap;">
                <a href="@Url.Action("D003_07", "D003")" title="編集"><i class="fas fa-pencil-alt" style="color:#007bff" aria-hidden="true"></i></a>
                <a href="@Url.Action("D003_02", "D003")" title="詳細"><i class="far fa-file-alt" style="color:#007bff" aria-hidden="true"></i></a>
                <a href="@Url.Action("D003_09", "D003")" title="削除"><i class="far fa-trash-alt" style="color:#007bff" aria-hidden="true"></i></a>
            </td>
            @* 1 *@
            <td>
                
            </td>
            @* 2 *@
            <td>
                YYYY/MM/DD
            </td>
            @* 3 *@
            <td>
                123
            </td>
            @* 4 *@
            <td>
                1234567890
            </td>
            @* 5 *@
            <td>
                123456789012
            </td>
            @* 6 *@
            <td>
                YYYY/MM/DD
            </td>
            @* 6-1 表示無し *@
            @*<td>
                    納品日
                </td>*@
            @* 7 *@
            <td>
                123456789
            </td>
            @* 8 *@
            <td>
                １２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０
            </td>
            @* 9 *@
            <td>
                1:原価
            </td>
            @* 10 *@
            <td>
                123456789012
            </td>
            @* 11 *@
            <td>
                １２３４５６７８９０１２３４５６７８９０
            </td>
            @* 12 *@
            <td>
                １２３４５６７８９０１２３４５６７８９０
            </td>
            @* 12-1 表示無し *@
            @*<td>
                    図面番号
                </td>*@
            @* 12-2 表示無し *@
            @*<td>
                    在庫管理クラス
                </td>*@
            @* 12-3 表示無し *@
            @*<td>
                    材質コード
                </td>*@
            @* 12-4 表示無し *@
            @*<td>
                    材質名称
                </td>*@
            @* 13 *@
            <td>
                123,456,789
            </td>
            @* 14 *@
            <td>
                12
            </td>
            @* 15 *@
            <td>
                12,345,678,901.12
            </td>
            @* 16 *@
            <td>
                12,345,678,901
            </td>
            @* 16-1 表示無し *@
            @*<td>
                    仕入単価
                </td>*@
            @* 16-2 表示無し *@
            @*<td>
                    粗利益額
                </td>*@
            @* 17 *@
            <td>
                1234567890
            </td>
            @* 18 *@
            <td>
                12
            </td>
            @* 19 *@
            <td>
                12345678901234567890
            </td>
            @* 20 *@
            <td>
                123456789012345678901234567890
            </td>
            @* 20-1 表示無し *@
            @*<td>
                    管理用仕入先コード
                </td>*@
            @* 20-2 表示無し *@
            @*<td>
                    仕入先名
                </td>*@
            @* 20-3 表示無し *@
            @*<td>
                    請求取りまとめコード
                </td>*@
            @* 20-4 表示無し *@
            @*<td>
                    請求先原価区分
                </td>*@
            @* 20-5 表示無し *@
            @*<td>
                    在庫区分
                </td>*@
            @* 20-6 表示無し *@
            @*<td>
                    倉庫コード
                </td>*@
            @* 21 *@
            <td>
                12345
            </td>
            @* 22 *@
            <td>
                １２３４５６７８９０１２３４５６７８９０１２３４５６７８９０
            </td>
            @* 22-1 表示無し *@
            @*<td>
                    納品書発行区分
                </td>*@
            @* 22-2 表示無し *@
            @*<td>
                    納品書No
                </td>*@
            @* 22-3 表示無し *@
            @*<td>
                    得意先納品書発行済フラグ
                </td>*@
            @* 22-4 表示無し *@
            @*<td>
                    得意先納品書発行回数
                </td>*@
            @* 22-5 表示無し *@
            @*<td>
                    処理理由
                </td>*@
            @* 22-6 表示無し *@
            @*<td>
                    締切日
                </td>*@
            @* 23 *@
            <td>
                YYYY/MM
            </td>
            @* 24 *@
            <td>
                0:未作成
            </td>
            @* 25 *@
            <td>
                0:未作成
            </td>
            @* 以降共通項目 *@
            @* 26 *@
            <td>
                １２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２
            </td>
            @* 27 *@
            <td>
                YYYY/MM/DD hh:mm:ss
            </td>
            @* 28 *@
            <td>
                １２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２
            </td>
            @* 29 *@
            <td>
                YYYY/MM/DD hh:mm:ss
            </td>
        </tr>
        <tr>
            <td align="center">
                @*            <input class="form-check-input" type="checkbox" id="" value="" style="widtd:30px" checked>*@
            </td>
            <td style="white-space:nowrap;">
                @*                <a href="@Url.Action("D003_07", "D003")" title="編集"><i class="fas fa-pencil-alt" style="color:#007bff" aria-hidden="true"></i></a>*@
                <a href="@Url.Action("D003_02", "D003")" title="詳細"><i class="far fa-file-alt" style="color:#007bff" aria-hidden="true"></i></a>
                @*              <a href="@Url.Action("D003_09", "D003")" title="削除"><i class="far fa-trash-alt" style="color:#007bff" aria-hidden="true"></i></a>*@
            </td>
            @* 1 *@
            <td>
                削除
            </td>
            @* 2 *@
            <td>
                YYYY/MM/DD
            </td>
            @* 3 *@
            <td>
                123
            </td>
            @* 4 *@
            <td>
                1234567890
            </td>
            @* 5 *@
            <td>
                123456789012
            </td>
            @* 6 *@
            <td>
                YYYY/MM/DD
            </td>
            @* 6-1 表示無し *@
            @*<td>
            納品日
        </td>*@
            @* 7 *@
            <td>
                123456789
            </td>
            @* 8 *@
            <td>
                １２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０
            </td>
            @* 9 *@
            <td>
                1:原価
            </td>
            @* 10 *@
            <td>
                123456789012
            </td>
            @* 11 *@
            <td>
                １２３４５６７８９０１２３４５６７８９０
            </td>
            @* 12 *@
            <td>
                １２３４５６７８９０１２３４５６７８９０
            </td>
            @* 12-1 表示無し *@
            @*<td>
            図面番号
        </td>*@
            @* 12-2 表示無し *@
            @*<td>
            在庫管理クラス
        </td>*@
            @* 12-3 表示無し *@
            @*<td>
            材質コード
        </td>*@
            @* 12-4 表示無し *@
            @*<td>
            材質名称
        </td>*@
            @* 13 *@
            <td>
                123,456,789
            </td>
            @* 14 *@
            <td>
                12
            </td>
            @* 15 *@
            <td>
                12,345,678,901.12
            </td>
            @* 16 *@
            <td>
                12,345,678,901
            </td>
            @* 16-1 表示無し *@
            @*<td>
            仕入単価
        </td>*@
            @* 16-2 表示無し *@
            @*<td>
            粗利益額
        </td>*@
            @* 17 *@
            <td>
                1234567890
            </td>
            @* 18 *@
            <td>
                12
            </td>
            @* 19 *@
            <td>
                12345678901234567890
            </td>
            @* 20 *@
            <td>
                123456789012345678901234567890
            </td>
            @* 20-1 表示無し *@
            @*<td>
            管理用仕入先コード
        </td>*@
            @* 20-2 表示無し *@
            @*<td>
            仕入先名
        </td>*@
            @* 20-3 表示無し *@
            @*<td>
            請求取りまとめコード
        </td>*@
            @* 20-4 表示無し *@
            @*<td>
            請求先原価区分
        </td>*@
            @* 20-5 表示無し *@
            @*<td>
            在庫区分
        </td>*@
            @* 20-6 表示無し *@
            @*<td>
            倉庫コード
        </td>*@
            @* 21 *@
            <td>
                12345
            </td>
            @* 22 *@
            <td>
                １２３４５６７８９０１２３４５６７８９０１２３４５６７８９０
            </td>
            @* 22-1 表示無し *@
            @*<td>
            納品書発行区分
        </td>*@
            @* 22-2 表示無し *@
            @*<td>
            納品書No
        </td>*@
            @* 22-3 表示無し *@
            @*<td>
            得意先納品書発行済フラグ
        </td>*@
            @* 22-4 表示無し *@
            @*<td>
            得意先納品書発行回数
        </td>*@
            @* 22-5 表示無し *@
            @*<td>
            処理理由
        </td>*@
            @* 22-6 表示無し *@
            @*<td>
            締切日
        </td>*@
            @* 23 *@
            <td>
                YYYY/MM
            </td>
            @* 24 *@
            <td>
                0:未作成
            </td>
            @* 25 *@
            <td>
                0:未作成
            </td>
            @* 以降共通項目 *@
            @* 26 *@
            <td>
                １２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２
            </td>
            @* 27 *@
            <td>
                YYYY/MM/DD hh:mm:ss
            </td>
            @* 28 *@
            <td>
                １２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２
            </td>
            @* 29 *@
            <td>
                YYYY/MM/DD hh:mm:ss
            </td>
        </tr>
    </tbody>
</table>

@* ボタン類 *@
<div class="row mt-3 mb-4">
    <div class="col-11 text-right">
        <div>
            <button type="button" class="btn btn-primary" style="width:10rem" data-toggle="modal" data-target="#D003_01_01Dialog">納品書一式</button>
        </div>
        <div class="mt-2">
            <button type="button" class="btn btn-primary" style="width:10rem" data-toggle="modal" data-target="#D003_01_01Dialog">納品書一式再発行</button>
        </div>
    </div>
    <div class="col-1 text-right">
        <button type="button" class="btn btn-primary macss-btn-sub" data-toggle="modal" data-target="#D003_01_02Dialog">受入払出伝票</button>

    </div>
</div>

@* 納品書一式印刷　確認ダイアログ *@
<div class="modal" id="D003_01_01Dialog" tabindex="-1" role="dialog" aria-labelledby="D003_01_01DialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="D003_01_01DialogTitle">@MacssWeb.Resources.Title.ExecConfirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                選択された明細の納品書一式を印刷します。よろしいですか？
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("D003_01", "D003", null, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary">@MacssWeb.Resources.ControlText.Yes</button>
                }
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@MacssWeb.Resources.ControlText.No</button>
            </div>
        </div>
    </div>
</div>

@* 受入払出伝票　確認ダイアログ *@
<div class="modal" id="D003_01_02Dialog" tabindex="-1" role="dialog" aria-labelledby="D003_01_02DialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="D003_01_02DialogTitle">@MacssWeb.Resources.Title.ExecConfirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                選択された明細の受入払出伝票を印刷します。よろしいですか？
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("D003_01", "D003", null, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary">@MacssWeb.Resources.ControlText.Yes</button>
                }
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@MacssWeb.Resources.ControlText.No</button>
            </div>
        </div>
    </div>
</div>
