@* 受入払出実績データ取込結果 *@

@section Scripts {
    <script>
        $(function () {

            var dt = new Macss.DataTables.MacssDataTable("#UploadConfirmList");
            dt.setScrollY("600px");
            dt.configure();

            $('[data-toggle="popover"]').popover();

        });</script>
}

<div class="alert @ViewBag.AlertType">
    <span>@ViewBag.ResultMessage</span>
</div>
<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-4">
        <a role="button" class="btn btn-secondary" href="@Url.Action("D003_10")">@MacssWeb.Resources.ControlText.BackToUpload</a>
    </div>
    <div class="col-4 text-right">
        <a role="button" class="btn btn-secondary" href="@Url.Action("D003_01")">@MacssWeb.Resources.ControlText.BackToList</a>
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="form-inline">
        <div class="input-group mr-2 mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text">ファイル</span>
            </div>
            <span class="form-control">@ViewBag.UploadFileName</span>
        </div>
        <div class="input-group mr-2 mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text">取込件数</span>
            </div>
            <span class="form-control">@ViewBag.UploadedCount</span>
        </div>
        <div class="input-group mr-2 mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text">エラー件数</span>
            </div>
            <span class="form-control">@ViewBag.ErrorCount</span>
        </div>
    </div>
    <div class="container-fluid mt-4">
        <div class="row mr-0 mb-1">
            @* 倉庫 *@
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">倉庫</span>
                    </div>
                    <label class="form-control">12</label>
                </div>
                <label class="">１２３４５６７８９０</label>

            </div>
            @* 在庫種別 *@
            <div class="col-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">在庫種別</span>
                    </div>
                    <label class="form-control">1 自社在庫</label>
                </div>
            </div>
        </div>
    </div>

    <table id="SumList" class="table table-striped table-hover macss-data-table" style="width:30%">
        <thead class="macss-data-table-header">
            <tr>
                <th>データ区分</th>
                <th>件数</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>101</td>
                <td>10 件</td>
            </tr>
            <tr>
                <td>111</td>
                <td>10 件</td>
            </tr>
        </tbody>
    </table>
    <hr />

    @* ボタン *@
    <div class="text-right">
        <div class="dropdown">
            <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bars"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#CsvDownloadDialog">CSVダウンロード</a>
            </div>
        </div>
    </div>
</div>
@* 一覧 *@
<table id="UploadConfirmList" class="table table-striped table-hover macss-data-table" style="width:100%">
    <thead class="macss-data-table-header">
        <tr>
            <th>
                行No
            </th>
            <th>
                エラー
            </th>
            <th>
                品名コード
            </th>
            <th>
                管理
            </th>
            <th>
                管理名
            </th>
            <th>
                品名
            </th>
            <th>
                規格・寸法
            </th>
            <th>
                単位
            </th>
            <th>
                単位略称
            </th>
            <th>
                帳簿在庫数
            </th>
            <th>
                棚卸数
            </th>
            <th>
                受払数
            </th>
            <th>
                データ区分
            </th>
            <th>
                取引日
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1
            </td>
            <td></td>
            <td>
                123456789012
            </td>
            <td>
                A
            </td>
            <td>
                主要部材
            </td>
            <td>
                １２３４５６７８９０１２３４５６７８９０
            </td>
            <td>
                １２３４５６７８９０１２３４５６７８９０
            </td>
            <td>
                12
            </td>
            <td>
                １２３４
            </td>
            <td>
                123,456,789
            </td>
            <td>
                123,456,789
            </td>
            <td>
                123,456,789
            </td>
            <td>
                123
            </td>
            <td>
                YYYY/MM/DD
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                <a tabindex="0" class="btn btn-sm btn-danger" role="button" data-toggle="popover"
                   data-trigger="focus" title="エラー詳細"
                   data-content="該当する品名がありません。">詳細</a>
            </td>
            <td>
                123456789012
            </td>
            <td>
                C
            </td>
            <td>
                副資材
            </td>
            <td>
                １２３４５６７８９０１２３４５６７８９０
            </td>
            <td>
                １２３４５６７８９０１２３４５６７８９０
            </td>
            <td>
                12
            </td>
            <td>
                １２３４
            </td>
            <td>
                123,456,789
            </td>
            <td>
                123,456,789
            </td>
            <td>
                123,456,789
            </td>
            <td>
                123
            </td>
            <td>
                YYYY/MM/DD
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td></td>
            <td>
                123456789012
            </td>
            <td>
                D
            </td>
            <td>
                副資材
            </td>
            <td>
                １２３４５６７８９０１２３４５６７８９０
            </td>
            <td>
                １２３４５６７８９０１２３４５６７８９０
            </td>
            <td>
                12
            </td>
            <td>
                １２３４
            </td>
            <td>
                123,456,789
            </td>
            <td>
                123,456,789
            </td>
            <td>
                123,456,789
            </td>
            <td>
                123
            </td>
            <td>
                YYYY/MM/DD
            </td>
        </tr>
    </tbody>
</table>
