<html lang="ja">
@{
    ViewBag.Title = "TASSデータ連携";
    ViewBag.ScreenId = "";
    ViewBag.PageMainTitle = "TASSデータ連携取込確認";

}
@section Scripts {
    <script>
        $(function () {

            var dt1 = new Macss.DataTables.MacssDataTable("#CaptureList");
            dt1.setScrollY("600px");
            dt1.configure();

            var dt2 = new Macss.DataTables.MacssDataTable("#ErrorList");
            dt2.setScrollY("600px");
            dt2.configure();

        });
    </script>
}
<div class="alert alert-info">
    <span>TASS出荷データを出庫データとして取り込みます。よろしいですか？</span>
</div>
<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-4">
        <a role="button" class="btn btn-secondary" href="@Url.Action("Index")">戻る</a>
    </div>
    <div class="col-4 text-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ConfirmDialog">取込</button>
    </div>
</div>
<div id="ConditionMain" class="container-fluid mt-3 mb-3 pr-1 collapse show" aria-labelledby="headingOne" data-parent="#ConditionAccordion">
    <div class="row mr-0 mb-1">
        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Condition1">倉庫コード</span>
                </div>
                <input type="text" class="form-control" aria-label="Condition1" aria-describedby="Condition1">
            </div>
        </div>
        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Condition1">得意先コード</span>
                </div>
                <input type="text" class="form-control" aria-label="Condition1" aria-describedby="Condition1">
            </div>
        </div>
    </div>
    <div class="row mr-0 mb-1">
        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">取込データ件数</span>
                </div>
                <span class="form-control">1件</span>
            </div>
        </div>
    </div>
</div>
</div>

<table id="CaptureList" class="table table-striped table-hover macss-data-table">
    <thead class="macss-data-table-header">
        <tr>
            <th>出荷日</th>
            <th>得意先コード</th>
            <th>得意先名</th>
            <th>品名コード</th>
            <th>品名</th>
            <th>出荷数</th>
            <th>出荷No</th>
            <th>出荷場所コード</th>
            <th>届先コード</th>
            <th>届先会社名</th>
            <th>伝票区分</th>
            <th>運送方法コード</th>
            <th>荷札発行済スラグ</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-4">
        <a role="button" class="btn btn-secondary" href="@Url.Action("Index")">戻る</a>
    </div>
</div>
<div class="modal" id="ConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="ConfirmDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmDialogTitle">@MacssWeb.Resources.Title.ExecConfirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                TASS連携データを取込みます。よろしいですか？
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("ExecComplete", "D006", null, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="UploadFileName" name="uploadFileName" value="@ViewBag.UploadFileName" />
                    <button type="submit" class="btn btn-primary">@MacssWeb.Resources.ControlText.Yes</button>
                }
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@MacssWeb.Resources.ControlText.No</button>
            </div>
        </div>
    </div>
</div>
