<html lang="ja">
@Html.AntiForgeryToken()

<div class="alert alert-info">
    <span>月次データを更新します。よろしいですか？</span>
</div>

<div class="container-fluid">
    <div class="mt-4">
        <div>
            <div class="macss-form-button-group-row pr-0">
                <div class="text-right">
                    <a class="btn btn-primary macss-btn-sub" data-toggle="modal" data-target="#ConfirmDialog" role="button">更新</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mr-0 mb-1">
    <div class="col-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">年月</span>
            </div>
            <span class="form-control">@ViewBag.Date</span>
        </div>
    </div>
</div>

<div class="modal" id="ConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="ConfirmDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmDialogTitle">@MacssWeb.Resources.Title.ExecConfirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                更新を実行します。よろしいですか？
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" name="cmdBtmExec" value="@((int)MacssWeb.Common.ButtonValues.Exec)">@MacssWeb.Resources.ControlText.Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@MacssWeb.Resources.ControlText.No</button>
            </div>
        </div>
    </div>
</div>