@model IEnumerable<MacssWeb.Models.AccountMasterUpload>

@{
    ViewBag.ScreenId = "";
    ViewBag.PageMainTitle = "［営業費用］　PC・勘定コード一括変更確認";
}
@section Scripts {
    <script>
        $(function () {

            //状態切り替え
            $("#alert").hide();
            //$("#info").hide();
            //$("#exec").prop("disabled", true);
            


            var dt = new Macss.DataTables.MacssDataTable("#MakeConfirmList");
            dt.setScrollY("600px");
            dt.configure();

        });
    </script>
}

<div id="alert" class="alert alert-danger validation-summary-errors" data-valmsg-summary="true">
    <span>代引の仕入先原票No未設定の出荷手配データがあります。処理を中止します。</span>
</div>
<div id="info" class="alert alert-info">
    <span>以下のPCコードと勘定コードを変更します。よろしいですか？</span>
</div>

<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-4">
        <a role="button" class="btn btn-secondary" href="@Url.Action("Change")">@MacssWeb.Resources.ControlText.Back</a>
    </div>
    <div class="col-4 text-right">
        <button id="exec" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ConfirmDialog">@MacssWeb.Resources.ControlText.Execute</button>
    </div>
</div>

<div class="container-fluid mt-2">
    <div>
            <p>【参考情報】</p>
    </div>
    <div class="row mr-0 mb-1">
        <div class="col-9">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Condition1">データ入力元</span>
                </div>
                <input type="text" class="form-control" aria-label="Condition1" aria-describedby="Condition1" value="0123456">
            </div>
        </div>                                                
    </div>
    <div class="row mr-0 mb-1">
        <div class="col-9">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Condition1">仕入先</span>
                </div>
                <input type="text" class="form-control" aria-label="Condition1" aria-describedby="Condition1" value="0123456">
            </div>
        </div>                                                
    </div>
    <div>
            <p>【洗替対象】</p>
    </div>
    <div class="row mr-0 mb-1">
        <div class="col-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="Condition3">件数</span>
            </div>
            <div class="form-control" aria-label="Condition1" aria-describedby="Condition1">
                123456
            </div>
        </div>
        </div>
        <div class="col-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="Condition3">非課税金額合計</span>
            </div>
            <div class="form-control" aria-label="Condition1" aria-describedby="Condition1">
                123,456
            </div>
        </div>
        </div>
        <div class="col-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="Condition3">課税金額合計</span>
            </div>
            <div class="form-control" aria-label="Condition1" aria-describedby="Condition1">
                123,456
            </div>
        </div>
        </div>
        
    </div>
</div>

<table id="MakeConfirmList" class="table table-striped table-hover macss-data-table">
    <thead class="macss-data-table-header">
        <tr>
            <th>営業費用No</th>
            <th>変更前部門コード</th>
            <th>変更後部門コード</th>
            <th>変更前事業区分コード</th>
            <th>変更後事業区分コード</th>
            <th>変更前顧客区分コード</th>
            <th>変更後顧客区分コード</th>
            <th>変更前勘定コード</th>
            <th>変更後勘定コード</th>
            <th>FB本社仕入先コード</th>
            <th>課税区分</th>
            <th>金額</th>
            <th>業務コード</th>
            <th>業務名</th>
            <th>伝票No</th>
            <th>項番</th>
            <th>伝票日付</th>
            <th>原票No</th>
            <th>確定日</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>　</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<div class="modal" id="ConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="ConfirmDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmDialogTitle">@MacssWeb.Resources.Title.ExecConfirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @MacssWeb.Resources.Messages.MakeReconfirm
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("ChangeResult", "D014", null, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary">@MacssWeb.Resources.ControlText.Yes</button>
                }
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@MacssWeb.Resources.ControlText.No</button>
            </div>
        </div>
    </div>
</div>
