@* 内示・発注一括登録 *@

@section Scripts {
    <script>
        $(function () {

            var dt = new Macss.DataTables.MacssDataTable("#D001_03List");
            dt.configure();

            //MacssDataTable（dataTables.fixedColumns.js）に表示する列が15件以上あると計算間違いで最左端列にスクロールバーが表示されるため、非表示にする
            $('.DTFC_LeftBodyLiner').css('overflow-y', 'hidden');

            if ($('[id=naiji]').prop('checked')) {
                // 内示
                console.log("naiji-1");
                naihatsu = "naiji";
                $("#tyubanLbl").removeClass("required");
                $("#tokuisakiLbl").removeClass("required");
                $("#genkaKbn").removeClass("required");
                $("#zaikoKbn").removeClass("required");
                $("#nonyusakiLbl").removeClass("required");
                $("#pcLbl").removeClass("required");
                $("#tantousyaLbl").removeClass("required");
                $("#noukiLbl").removeClass("required");
            } else {
                // 発注
                console.log("hachu-1");
                naihatsu = "hachu";
                $("#tyubanLbl").removeClass("required");
                $("#tyubanIn").prop("disabled", true);
                $("#tyubanIn").val("");
            }

            $("#addDetail").show();
            $("#editDetail").hide();
        });

        var naihatsu = "naiji";
        var syubetsu = "syubetsu1";

        // 内示・発注ラジオボタン変更
        $('[name="naihatsu"]:radio').change(function () {
            if ($('[id=naiji]').prop('checked')) {
                // 内示
                console.log("naiji");
                naihatsu = "naiji";
                $("#tyubanLbl").removeClass("required");
                $("#tokuisakiLbl").removeClass("required");
                $("#genkaKbn").removeClass("required");
                $("#zaikoKbn").removeClass("required");
                $("#nonyusakiLbl").removeClass("required");
                $("#pcLbl").removeClass("required");
                $("#tantousyaLbl").removeClass("required");
                $("#noukiLbl").removeClass("required");
            } else if ($('[id=hachu]').prop('checked')) {
                // 発注
                console.log("hachu");
                naihatsu = "hachu";
                $("#tokuisakiLbl").addClass("required");
                $("#genkaKbn").addClass("required");
                $("#zaikoKbn").addClass("required");
                $("#nonyusakiLbl").addClass("required");
                $("#pcLbl").addClass("required");
                $("#tantousyaLbl").addClass("required");
                $("#noukiLbl").addClass("required");

                if (syubetsu == "syubetsu1") {
                    // 入力無し
                    $("#tyubanLbl").removeClass("required");
                    $("#tyubanIn").prop("disabled", true);
                    $("#tyubanIn").val("");
                } else {
                    // 入力有り
                    $("#tyubanLbl").addClass("required");
                    $("#tyubanIn").prop("disabled", false);
                    $("#tyubanIn").val("12345678901234567890");
                }
            }
        });

        // 得意先注文番号入力有無ラジオボタン変更
        $('[name="syubetsu"]:radio').change(function () {
            console.log(naihatsu);
            if ($('[id=syubetsu1]').prop('checked')) {
                // 入力無し
                console.log("syubetsu1");
                syubetsu = "syubetsu1";
                $("#tyubanLbl").removeClass("required");
                $("#tyubanIn").prop("disabled", true);
                $("#tyubanIn").val("");
            } else if ($('[id=syubetsu2]').prop('checked')) {
                // 入力有り
                console.log("syubetsu2");
                syubetsu = "syubetsu2";
                if (naihatsu == "hachu") {
                    $("#tyubanLbl").addClass("required");
                }
                $("#tyubanIn").prop("disabled", false);
                $("#tyubanIn").val("12345678901234567890");
            }
        });

        // 明細編集ボタンクリック
        $("#detailEdit").click(function () {
            console.log("click");
            $("#addDetail").hide();
            $("#editDetail").show();
        });
        // 明細更新ボタンクリック
        $("#editDetail").click(function () {
            console.log("click");
            $("#addDetail").show();
            $("#editDetail").hide();
        });

        // 入力確認ボタンクリック
        $("#confirm").click(function () {
            console.log("click");
            location.href = "@Url.Action("D001_04")" + "?naihatsu=" + naihatsu + "&syubetsu=" + syubetsu;
        });

    </script>
}

@Html.Partial("~/Areas/Tass/Views/Shared/Dialog/_HinmeiCodeSearch.cshtml")
@Html.Partial("~/Areas/Tass/Views/Shared/Dialog/_TokuisakiCodeSearch.cshtml")
@Html.Partial("~/Areas/Pats/Views/D001/Dialog/_D001_03_Create.cshtml")
@Html.Partial("~/Areas/Pats/Views/D001/Dialog/_D001_03_Edit.cshtml")

@* ボタン類 *@
<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-4">
        <a class="btn btn-secondary" data-toggle="modal" data-target="#TransitionConfirmDialog" role="button">@MacssWeb.Resources.ControlText.BackToList</a>
    </div>
    <div class="col-4 text-right">
        <a id="confirm" class="btn btn-primary" href=# role="button">@MacssWeb.Resources.ControlText.InputConfirm</a>
    </div>
</div>

@* 共通入力項目 *@
<div class="accordion" id="ConditionAccordion">
    <div class="card">
        <div class="card-header macss-search-config-collapse-header" id="headingOne">
            <div class="mb-0">
                <button class="btn macss-btn-condition-collapse" type="button" data-toggle="collapse" data-target="#ConditionMain" aria-expanded="true" aria-controls="ConditionMain">
                    <div class="d-inline-block" style="color:#333">共通項目</div>
                    <i id="CollapseHidden" class="fas fa-chevron-circle-up" aria-hidden="true" style="color: rgb(120, 188, 255);"></i>
                    <i id="CollapseShow" class="fas fa-chevron-circle-down" aria-hidden="true" style="color: rgb(120, 188, 255); display: none;"></i>
                </button>
            </div>
        </div>

        <div id="ConditionMain" class="container-fluid mt-3 mb-3 pr-1 collapse show" aria-labelledby="headingOne" data-parent="#ConditionAccordion">
            <table class="table macss-form-table2">
                <colgroup>
                    <col class="macss-form-table-title2">
                    <col class="macss-form-table-contents2">
                </colgroup>
                @* 内示・発注選択 必須 *@
                <tr style="border-bottom:ridge">
                    <th scope="row">
                        <label class="required">内示・発注</label>
                    </th>
                    <td>
                        <div class="row">
                            <div class="input-group col-4">
                                <div class="form-control">
                                    @if (ViewBag.NaiHatsu == "naiji")
                                    {

                                        <div class="form-check-inline mr-5">
                                            <input type="radio" class="" name="naihatsu" id="naiji" checked />
                                            <label class="form-check-label">内示</label>
                                        </div>
                                        <div class="form-check-inline">
                                            <input type="radio" class="" name="naihatsu" id="hachu" />
                                            <label class="form-check-label">発注</label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-check-inline mr-5">
                                            <input type="radio" class="" name="naihatsu" id="naiji" />
                                            <label class="form-check-label">内示</label>
                                        </div>
                                        <div class="form-check-inline">
                                            <input type="radio" class="" name="naihatsu" id="hachu" checked />
                                            <label class="form-check-label">発注</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                @* 得意先注文番号入力有無選択 必須 *@
                <tr>
                    <th scope="row">
                        <label class="required">得意先注文番号入力有無</label>
                    </th>
                    <td>
                        <div class="row">
                            <div class="input-group col-4">
                                <div class="form-control">
                                    <div class="form-check-inline mr-5">
                                        <input type="radio" class="" name="syubetsu" id="syubetsu1" checked />
                                        <label class="form-check-label">入力無し</label>
                                    </div>
                                    <div class="form-check-inline">
                                        <input type="radio" class="" name="syubetsu" id="syubetsu2" />
                                        <label class="form-check-label">入力有り</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                @* 品名コード 条必 *@
                <tr>
                    <th scope="row">
                        <label class="control-label required">品名</label>
                    </th>
                    <td>
                        <div class="row">
                            <div class="col-4">
                                <div class="input-group">
                                    <input class="form-control text-box single-line" data-val="true" data-val-length-max="4" id="" name="" type="text" value="123456789012345" style="border-top-left-radius:0; border-bottom-left-radius:0;">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#HinmeiCodeSearchDialog">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <span id="" class="align-middle">１２３４５６７８９０１２３４５６７８９０</span>
                            </div>
                        </div>
                    </td>
                </tr>
                @* 規格・寸法 表示 *@
                <tr>
                    <th scope="row">
                        規格・寸法
                    </th>
                    <td>
                        １２３４５６７８９０１２３４５６７８９０
                    </td>
                </tr>
                @* 得意先注文番号 *@
                @* 得意先注文番号入力無し：入力不可　得意先注文番号入力有り：必須 *@
                <tr>
                    <th scope="row">
                        <label class="control-label" id="tyubanLbl">得意先注文番号</label>
                        @*<label class="control-label required" id="tyubanLbl">得意先注文番号</label>*@
                    </th>
                    <td>
                        <input class="form-control" type="text" id="tyubanIn" value="" disabled />
                        @*<input class="form-control" type="text" id="tyubanIn" value="12345678901234567890" />*@
                    </td>
                </tr>
                @* 得意先 条必 *@
                <tr>
                    <th scope="row">
                        <label class="control-label required" id="tokuisakiLbl">得意先</label>
                    </th>
                    <td>
                        <div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="input-group">
                                        <input class="form-control text-box single-line" data-val="true" data-val-length="" data-val-length-max="4" data-val-required="" id="tokuisaki_cd" name="" type="text" value="1234567">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#TokuisakiCodeSearchDialog">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <span id="DepartmentName" class="align-middle">１２３４５６７８９０１２３４５６７８９０</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                @* 原価区分 条必 *@
                <tr>
                    <th scope="row">
                        <label id="genkaKbn" class="required">原価区分</label>
                    </th>
                    <td>
                        <select class="custom-select form-control">
                            <option></option>
                            <option>1:原価</option>
                            <option>2:経費</option>
                        </select>
                    </td>
                </tr>
                @* 在庫区分 自動 *@
                <tr>
                    <th scope="row">
                        <label id="zaikoKbn" class="required">在庫区分</label>
                    </th>
                    <td>
                        <select class="custom-select">
                            <option></option>
                            <option>10:自社在庫にしない</option>
                            <option>21:自社在庫にする</option>
                            <option>90:その他</option>
                        </select>
                    </td>
                </tr>
                @* 納入先コード 条必 *@
                <tr>
                    <th scope="row">
                        <label class="required" id="nonyusakiLbl">納入先</label>
                    </th>
                    <td>
                        <div class="row">
                            <div class="col-4">
                                <div class="input-group">
                                    <input class="form-control text-box single-line" data-val="true" data-val-length-max="4" id="" name="" type="text" value="12345" style="border-top-left-radius:0; border-bottom-left-radius:0;">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#NonyusakiCodeSearchDialog">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <span class="align-middle">１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０</span>
                            </div>
                        </div>
                    </td>
                </tr>
                @* 管理倉庫 表示 *@
                @* 在庫区分が21 or 24の場合のみ納入先マスタから表示 *@
                <tr>
                    <th scope="row">
                        管理倉庫
                    </th>
                    <td>
                        12 １２３４５６７８９０
                    </td>
                </tr>
                @* 売上PC コード：必須 内容：表示 *@
                <tr>
                    <th scope="row">
                        <label class="required" id="pcLbl">売上PC</label>
                    </th>
                    <td>
                        <div class="row">
                            <div class="col-4">
                                <div class="input-group">
                                    <input class="form-control" type="text" value="1234" />
                                    <input class="form-control" type="text" value="5678" />
                                    <input class="form-control" type="text" value="9012" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="">
                                            <i class="fas fa-redo"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <span class="align-middle">１２３４５６７８９０ １２３４５６７８９０ １２３４５６７８９０１２３４５６７８９０</span>
                            </div>
                        </div>
                    </td>
                </tr>
                @* 得意先担当者名：必須 *@
                <tr>
                    <th scope="row">
                        <label class="required" id="tantousyaLbl">得意先担当者名</label>
                    </th>
                    <td>
                        <input class="form-control" type="text" value="１２３４５６７８９０" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

@* 明細入力項目 *@
<div class="accordion mt-3" id="DetailAccordion">
    <div class="card">
        <div class="card-header macss-search-config-collapse-header" id="headingOne">
            <div class="mb-0">
                <button class="btn macss-btn-condition-collapse" type="button" data-toggle="collapse" data-target="#DetailMain" aria-expanded="true" aria-controls="DetailMain">
                    <div class="d-inline-block" style="color:#333">明細項目</div>
                    <i id="CollapseHidden" class="fas fa-chevron-circle-up" aria-hidden="true" style="color: rgb(120, 188, 255);"></i>
                    <i id="CollapseShow" class="fas fa-chevron-circle-down" aria-hidden="true" style="color: rgb(120, 188, 255); display: none;"></i>
                </button>
            </div>
        </div>

        <div id="DetailMain" class="container-fluid mt-3 mb-3 pr-1 collapse show" aria-labelledby="headingOne" data-parent="#DetailAccordion">
            <table class="table macss-form-table2">
                <colgroup>
                    <col class="macss-form-table-title2">
                    <col class="macss-form-table-contents2">
                </colgroup>
                @* 納期 必須 *@
                <tr>
                    <th scope="row">
                        <label class="control-label required" id="noukiLbl">納期</label>
                    </th>
                    <td>
                        <div class="input-group">
                            <input type="text" id="date1" class="form-control" value="YYYY/MM/DD" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="Calendar1"><i class="fa fa-calendar-alt"></i></button>
                            </div>
                        </div>
                    </td>
                </tr>
                @* 注文数 必須 *@
                <tr>
                    <th scope="row">
                        <label class="control-label required">注文数</label>
                    </th>
                    <td>
                        <div>
                            <input class="form-control" type="text" value="123456789">
                        </div>
                    </td>
                </tr>
                @* 注文金額 表示 *@
                <tr>
                    <th scope="row">
                        <label class="control-label">注文金額</label>
                    </th>
                    <td>
                        123,456,789
                    </td>
                </tr>
                @* 特記事項 入力 *@
                <tr>
                    <th scope="row">
                        <label class="control-label">特記事項</label>
                    </th>
                    <td>
                        <div>
                            <input class="form-control" type="text" value="１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０">
                        </div>
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="col-4">
                    <a class="btn btn-secondary macss-btn-sub" role="button">キャンセル</a>
                    <a id="addDetail" class="btn btn-primary macss-btn-sub" role="button">追加</a>
                    <a id="editDetail" class="btn btn-primary macss-btn-sub" role="button">更新</a>
                </div>
            </div>
        </div>
    </div>
</div>

@* 明細一覧 *@
<table id="D001_03List" class="table table-striped table-hover macss-data-table" style="width:100%">
    <thead class="macss-data-table-header">
        <!-- thの文字数で列の幅が決まってしまうため、必要に応じて全角スペースを入れて列の幅を調整する必要がある-->
        <tr>
            <th></th>
            <th>
                納期
            </th>
            <th>
                注文数
            </th>
            <th>
                注文金額
            </th>
            <th>
                特記事項
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="white-space:nowrap;">
                <a id="detailEdit" data-toggle="modal" data-target="" title="編集"><i class="fas fa-pencil-alt" style="color:#007bff" aria-hidden="true"></i></a>
                <a data-toggle="modal" data-target="#D001_03_01Dialog" title="削除"><i class="fas fa-trash-alt" style="color:#007bff" aria-hidden="true"></i></a>
            </td>
            <td>
                YYYY/MM/DD
            </td>
            <td>
                123,456,789
            </td>
            <td>
                12,345,678,901
            </td>
            <td>
                １２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０
            </td>
        </tr>
    </tbody>
</table>
<div class="mt-4"></div>
<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-4">
        <a class="btn btn-secondary" data-toggle="modal" data-target="#TransitionConfirmDialog" role="button">@MacssWeb.Resources.ControlText.BackToList</a>
    </div>
    <div class="col-4 text-right">
        <a id="confirm" class="btn btn-primary" href=# role="button">@MacssWeb.Resources.ControlText.InputConfirm</a>
    </div>
</div>


<script>
    function setDepartmentCode(code, value) {
        $("#bumon_cd").val(code);
        $("#DepartmentName").text(value);
    }
    $(function () {
        var createDatePicker = new Macss.DatetimePicker.MacssDtPicker("#create_date", "#CreateDateCalendar");
        createDatePicker.configure();
        var updateDatePicker = new Macss.DatetimePicker.MacssDtPicker("#update_date", "#UpdateDateCalendar");
        updateDatePicker.configure();
    });</script>


@* 確認ダイアログ *@
<div class="modal" id="TransitionConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="ConfirmDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmDialogTitle">@MacssWeb.Resources.Title.TransitionConfirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @MacssWeb.Resources.Messages.TransitionConfirm
                <br>
                @MacssWeb.Resources.Messages.Confirm
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary macss-btn" href="@Url.Action("D001_01")" role="button">@MacssWeb.Resources.ControlText.Yes</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@MacssWeb.Resources.ControlText.No</button>
            </div>
        </div>
    </div>
</div>

@* 明細削除確認ダイアログ *@
<div class="modal" id="D001_03_01Dialog" tabindex="-1" role="dialog" aria-labelledby="D001_03_01DialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="D001_03_01DialogTitle">@MacssWeb.Resources.Title.ExecConfirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                明細を削除します。よろしいですか？
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("D001_03", "D001", null, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary">@MacssWeb.Resources.ControlText.Yes</button>
                }
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@MacssWeb.Resources.ControlText.No</button>
            </div>
        </div>
    </div>
</div>
