@model IEnumerable<Macss.Database.Entity.AccountMaster>

@{
    ViewBag.Title = "サンプル";
    ViewBag.PageMainTitle = "サブメニューサンプル";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6">
            <ul class="macss-submenu">
                <li>
                    @Html.ActionLink("一覧", "Index")
                </li>
                <li>
                    @Html.ActionLink("新規作成", "Create")
                </li>
                <li>
                    @Html.ActionLink("編集", "Edit", new { id = "TISAdmin" })
                </li>
                <li>
                    @Html.ActionLink("削除", "DeleteConfirm", new { id = "TISAdmin" })
                </li>
                <li>
                    @Html.ActionLink("詳細", "Details", new { id = "TISAdmin" })
                </li>
                <li>
                    @Html.ActionLink("アップロード", "Upload")
                </li>
            </ul>
        </div>
    </div>
</div>
