@model Macss.Database.Entity.AccountMaster
@{
    ViewBag.Title = "包装品名登録";
    ViewBag.PageMainTitle = "包装品名登録";
    ViewBag.ConfirmMessage = MacssWeb.Resources.Messages.DeleteConfirm;
    ViewBag.ButtonText = MacssWeb.Resources.ControlText.DeleteExec;
    ViewBag.ConfirmDialogText = MacssWeb.Resources.Messages.DeleteReconfirm;
}
@section Scripts {
    <script>
        $(function () {

            var dt = new Macss.DataTables.MacssDataTable("#SampleList");
            dt.configure();

            //MacssDataTable（dataTables.fixedColumns.js）に表示する列が15件以上あると計算間違いで最左端列にスクロールバーが表示されるため、非表示にする
            $('.DTFC_LeftBodyLiner').css('overflow-y', 'hidden');

        });</script>
}

@Html.Partial("../Shared/Dialog/_D206Create")
@Html.Partial("../Shared/Dialog/_D206Edit")

@using (Html.BeginForm("CreateConfirm", "StockCreate", null, FormMethod.Post))
{
    <div class="row justify-content-between macss-form-button-group-row">
        <div class="col-4">
            <a class="btn btn-secondary" data-toggle="modal" data-target="#TransitionConfirmDialog" role="button">@MacssWeb.Resources.ControlText.BackToList</a>
        </div>
        <div class="col-4 text-right">
            <a class="btn btn-primary" href="@Url.Action("CreateConfirm")" role="button">@MacssWeb.Resources.ControlText.InputConfirm</a>
        </div>
    </div>
    <div class="accordion" id="ConditionAccordion">
        <div class="card">
            <div class="card-header macss-search-config-collapse-header" id="headingOne">
                <div class="mb-0">
                    <button class="btn macss-btn-condition-collapse" type="button" data-toggle="collapse" data-target="#ConditionMain" aria-expanded="true" aria-controls="ConditionMain">
                        <div class="d-inline-block" style="color:#333"></div>
                        <i id="CollapseHidden" class="fas fa-chevron-circle-up" aria-hidden="true" style="color: rgb(120, 188, 255);"></i>
                        <i id="CollapseShow" class="fas fa-chevron-circle-down" aria-hidden="true" style="color: rgb(120, 188, 255); display: none;"></i>
                    </button>
                </div>
            </div>
            <div id="ConditionMain" class="container-fluid mt-3 mb-3 pr-1 collapse show" aria-labelledby="headingOne" data-parent="#ConditionAccordion">
                <table class="table macss-form-table2">
                    <colgroup>
                        <col class="macss-form-table-title2">
                        <col class="macss-form-table-contents2">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <label class="control-label required" for="account_id">品名コード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label required" for="account_id">品名</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>                        
                        <tr>
                            <th scope="row">
                                <label class="control-label required" for="account_id">品名カナ</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">規格寸法</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">機種コードA</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label required" for="account_id">材質コード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">図面番号</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label required" for="account_id">仕入先コード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="input-group">
                                                <input class="form-control text-box single-line" data-val="true" data-val-length="フィールド 部門コード は最大長が 4 の文字列である必要があります。" data-val-length-max="4" data-val-required="部門コード フィールドが必要です。" id="bumon_cd" name="bumon_cd" type="text" value="">
                                                <div class="input-group-append">
                                                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#TokuisakiCodeSearchDialog">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <span id="DepartmentName" class="align-middle"></span>
                                        </div>
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="bumon_cd" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label required" for="account_id">発注単位コード</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label required" for="account_id">在庫区分</label>
                            </th>
                            <td>
                                <div>
                                    <select class="custom-select form-control" id="Condition3" aria-describedby="Condition3">
                                        <option value="0"></option>
                                        <option value="1">在庫</option>
                                        <option value="2">直売</option>
                                        <option value="3">経費</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">在庫管理クラス</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">在庫評価単価</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">使用場所</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">仕入最低注文数</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">発注ロットサイズ</label>
                            </th>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>                                                                                                                                                                                            
                    </tbody>                    
                </table>
            </div>
        </div>
    </div>
}

<div class="mt-4"></div>
<div class="row justify-content-between macss-form-button-group-row mt-4">
    <div class="col-4">
        <a class="btn btn-secondary" data-toggle="modal" data-target="#TransitionConfirmDialog" role="button">@MacssWeb.Resources.ControlText.BackToList</a>
    </div>
    <div class="col-4 text-right">
        <a class="btn btn-primary" href="@Url.Action("CreateConfirm")" role="button">@MacssWeb.Resources.ControlText.InputConfirm</a>
    </div>
</div>
<script>
    function setDepartmentCode(code, value) {
        $("#bumon_cd").val(code);
        $("#DepartmentName").text(value);
    }
    $(function () {
        var createDatePicker = new Macss.DatetimePicker.MacssDtPicker("#create_date", "#CreateDateCalendar");
        createDatePicker.configure();
        var updateDatePicker = new Macss.DatetimePicker.MacssDtPicker("#update_date", "#UpdateDateCalendar");
        updateDatePicker.configure();
    });</script></form>

</div>



<div class="modal" id="TransitionConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="ConfirmDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmDialogTitle">@MacssWeb.Resources.Title.TransitionConfirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @MacssWeb.Resources.Messages.TransitionConfirm
                <br>
                @MacssWeb.Resources.Messages.Confirm
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary macss-btn" href="@Url.Action("Index")" role="button">@MacssWeb.Resources.ControlText.Yes</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@MacssWeb.Resources.ControlText.No</button>
            </div>
        </div>
    </div>
</div>
