
@using MacssWeb.Areas.Dcos.Helper

<div class="modal" id="StockReportDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">在庫報告書処理設定</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-5">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">区分</span>
                                </div>
                                <select class="custom-select form-control">
                                    @foreach (var item in StockHelper.StockReportModeList)
                                    {
                                        var sel = item.InitSelect ? "selected" : String.Empty;

                                        <option value="@item.TargetId" @sel>@item.TargetText</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">締日</span>
                                </div>
                                <select class="custom-select form-control">
                                    @foreach (var item in StockHelper.ClosingDateList)
                                    {
                                        var sel = item.InitSelect ? "selected" : String.Empty;

                                        <option value="@item.TargetId" @sel>@item.TargetText</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="justify-content:unset">
                <div class="container-fluid row pl-0 pr-0">
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary macss-btn-sub" data-dismiss="modal">@MacssWeb.Resources.ControlText.Cancel</button>
                    </div>
                    <div class="col-6 text-right">
                        <button type="button" class="btn btn-primary macss-btn-sub" data-dismiss="modal">実行</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function changeStockReportMode(obj) {
        var val = obj.value;
    };

</script>
