@model Macss.Database.Entity.ApprovalData

@Html.AntiForgeryToken()

@Html.Partial("../Shared/Dialog/_DepartmentCodeSearch")

<div>
    @Html.ValidationSummary(false, "入力エラーがあります。", new { @class = "alert alert-danger" })
</div>

<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-4">
        <a class="btn btn-secondary" href="@Url.Action("ApprovalDetails", new { id = Model.id })" role="button">@MacssWeb.Resources.ControlText.Back</a>
    </div>
    <div class="col-4 text-right">
        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#ConfirmDialog">更新</button>
    </div>
</div>
<table class="table macss-form-table2">
    <colgroup>
        <col class="macss-form-table2-title" />
        <col class="macss-form-table2-contents" />
        <col class="macss-form-table2-title" />
        <col class="macss-form-table2-contents" />
    </colgroup>
    <tr>
        <th scope="row">
            @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label" })
        </th>
        <td>
            <div>
                @Html.DisplayFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.status)
            </div>
        </td>
        <th scope="row">
            @Html.LabelFor(model => model.target, htmlAttributes: new { @class = "control-label" })
        </th>
        <td>
            <div>
                @Html.DisplayFor(model => model.target, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.target)
            </div>
        </td>
    </tr>
    <tr>
        <th scope="row">
            @Html.LabelFor(model => model.application_date, htmlAttributes: new { @class = "control-label" })
        </th>
        <td>
            <div>
                @Html.DisplayFor(model => model.application_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.application_date)
            </div>
        </td>
        <th scope="row">
            @Html.LabelFor(model => model.applicant, htmlAttributes: new { @class = "control-label" })
        </th>
        <td>
            <div>
                @Html.DisplayFor(model => model.applicant, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.applicant)
            </div>
        </td>
    </tr>
    <tr>
        <th scope="row">
            @Html.LabelFor(model => model.primary_approval_date, htmlAttributes: new { @class = "control-label" })
        </th>
        <td>
            <div>
                @Html.DisplayFor(model => model.primary_approval_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.primary_approval_date)
            </div>
        </td>
        <th scope="row">
            @Html.LabelFor(model => model.primary_approver, htmlAttributes: new { @class = "control-label" })
        </th>
        <td>
            <div>
                @Html.DisplayFor(model => model.primary_approver, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.primary_approver)
            </div>
        </td>
    </tr>
    <tr>
        <th scope="row">
            @Html.LabelFor(model => model.secondary_approval_date, htmlAttributes: new { @class = "control-label" })
        </th>
        <td>
            <div>
                @Html.DisplayFor(model => model.secondary_approval_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.secondary_approval_date)
            </div>
        </td>
        <th scope="row">
            @Html.LabelFor(model => model.secondary_approver, htmlAttributes: new { @class = "control-label" })
        </th>
        <td>
            <div>
                @Html.DisplayFor(model => model.secondary_approver, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.secondary_approver)
            </div>
        </td>
    </tr>
    <tr>
        <th scope="row">
            @Html.LabelFor(model => model.denial_date, htmlAttributes: new { @class = "control-label" })
        </th>
        <td>
            <div>
                @Html.DisplayFor(model => model.denial_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.denial_date)
            </div>
        </td>
        <th scope="row">
            @Html.LabelFor(model => model.reason_denial, htmlAttributes: new { @class = "control-label" })
        </th>
        <td>
            <div>
                <div class="input-group">
                    @Html.DisplayFor(model => model.reason_denial, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                @Html.HiddenFor(model => model.reason_denial)
            </div>
        </td>
    </tr>
    <tr>
        <th scope="row">
            @Html.LabelFor(model => model.recovery_approval_date, htmlAttributes: new { @class = "control-label" })
        </th>
        <td>
            <div>
                @Html.DisplayFor(model => model.recovery_approval_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.recovery_approval_date)
            </div>
        </td>
    </tr>
    <tr>
        <th scope="row">
            @Html.LabelFor(model => model.recovery_date, htmlAttributes: new { @class = "control-label" })
        </th>
        <td>
            <div>
                <div class="input-group">
                    @Html.DisplayFor(model => model.recovery_date, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.HiddenFor(model => model.recovery_date)
            </div>
        </td>
        <th scope="row">
            @Html.LabelFor(model => model.reason_recovery, htmlAttributes: new { @class = "control-label" })
        </th>
        <td>
            <div>
                @Html.DisplayFor(model => model.reason_recovery, new { htmlAttributes = new { @class = "form-control required" } })
                @Html.HiddenFor(model => model.reason_recovery)
            </div>
        </td>
    </tr>
</table>

<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-4">
        <a class="btn btn-secondary" href="@Url.Action("ApprovalDetails", new { id = Model.id })" role="button">@MacssWeb.Resources.ControlText.Back</a>
    </div>
    <div class="col-4 text-right">
        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#ConfirmDialog">更新</button>
    </div>
</div>

<script>
    function setDepartmentCode(code, value) {
        $("#bumon_cd").val(code);
        $("#DepartmentName").text(value);
    }
    $(function () {
        var createDatePicker = new Macss.DatetimePicker.MacssDtPicker("#create_date", "#CreateDateCalendar");
        createDatePicker.configure();
        var updateDatePicker = new Macss.DatetimePicker.MacssDtPicker("#update_date", "#UpdateDateCalendar");
        updateDatePicker.configure();
    });

</script>

<div class="modal" id="ConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="ConfirmDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmDialogTitle">@MacssWeb.Resources.Title.ExecConfirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">更新します。よろしいですか?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@MacssWeb.Resources.ControlText.Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">更新</button>
            </div>
        </div>
    </div>
</div>