<html lang="ja">
@*@model IEnumerable<Macss.Database.Entity.ApprovalData>*@
@Html.AntiForgeryToken()
@Html.Partial("../Shared/Dialog/_DepartmentCodeSearch")
@{
    ViewBag.Title = "承認";
    ViewBag.PageMainTitle = "承認";
}
@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover();

            //左端3列を固定表示にする場合の記述（HTMLのthの記載時に下記の横幅と同じサイズを指定する事。指定しないと表示が崩れます。）
            //targetsは位置情報です。0から始まります。
            //「, 3」→左端3列を固定表示。
            var dt = new Macss.DataTables.MacssDataTable("#SampleList", [{
                "className": "macss-table-proc-column", "width": 180, "orderable": false, "targets": 0
            }, {
                "className": "macss-table-proc-column", "width": 90, "orderable": true, "targets": 1
            }], 2);
            dt.configure();

            var cond = new Macss.Collapse.ConditionsPanel("#ConditionAccordion", "#CollapseShow", "#CollapseHidden");
            cond.setCollapseEvent();

            var sampleDatePicker1 = new Macss.DatetimePicker.MacssDtPicker("#SampleDTPicker1", "#SampleCalendar1");
            sampleDatePicker1.configure();
            var sampleDatePicker2 = new Macss.DatetimePicker.MacssDtPicker("#SampleDTPicker2", "#SampleCalendar2");
            sampleDatePicker2.configure();
            var sampleDatePicker3 = new Macss.DatetimePicker.MacssDtPicker("#SampleDTPicker3", "#SampleCalendar3");
            sampleDatePicker3.configure();
            var sampleDatePicker4 = new Macss.DatetimePicker.MacssDtPicker("#SampleDTPicker4", "#SampleCalendar4");
            sampleDatePicker4.configure();
        });
    </script>
}
@using (Html.BeginForm("Search", "Sample", null, FormMethod.Post))
{

    <div class="accordion" id="ConditionAccordion">
        <div class="card">
            <div class="card-header macss-search-config-collapse-header" id="headingOne">
                <div class="mb-0">
                    <button class="btn macss-btn-condition-collapse" type="button" data-toggle="collapse" data-target="#ConditionMain" aria-expanded="true" aria-controls="ConditionMain">
                        <div class="d-inline-block" style="color:#333">検索設定</div>
                        <i id="CollapseHidden" class="fas fa-chevron-circle-up" aria-hidden="true" style="display:none;"></i>
                        <i id="CollapseShow" class="fas fa-chevron-circle-down" aria-hidden="true" style="display:none;"></i>
                    </button>
                </div>
            </div>
            <div id="ConditionMain" class="container-fluid mt-3 pr-1 collapse show" aria-labelledby="headingOne" data-parent="#ConditionAccordion">
                <div class="row mr-0 mb-1">
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="Condition1">表示区分</span>
                            </div>
                            <select class="custom-select form-control" id="Condition3" aria-describedby="Condition3">
                                <option value="関連表示">関連表示</option>
                                <option value="全て表示">全て表示</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="Condition1">承認状態</span>
                            </div>
                            <div class="macss-input-group-input form-control">
                                <div class="form-check form-check-inline mr-4">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox6">未申請</label>
                                </div>
                                <div class="form-check form-check-inline mr-4">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked="checked">
                                    <label class="form-check-label" for="inlineCheckbox1">申請済</label>
                                </div>
                                <div class="form-check form-check-inline mr-4">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox3">承認済</label>
                                </div>
                                <div class="form-check form-check-inline mr-4">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox4">否認済</label>
                                </div>
                                <div class="form-check form-check-inline mr-4">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option1" checked="checked">
                                    <label class="form-check-label" for="inlineCheckbox5">取戻申請済</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mr-0 mb-1">
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="Condition3">承認対象</span>
                            </div>
                            <select class="custom-select form-control" id="Condition3" aria-describedby="Condition3">
                                <option value=""></option>
                                <option value="包装商品発注">包装商品発注</option>
                                <option value="請求関係書印刷">請求関係書印刷</option>
                                <option value="仕入単価マスタ">仕入単価マスタ</option>
                                <option value="販売単価マスタ">販売単価マスタ</option>
                                <option value="包装単価マスタ">包装単価マスタ</option>
                                <option value="包装資材マスタ">包装資材マスタ</option>
                                <option value="契約品名マスタ">契約品名マスタ</option>
                                <option value="売上パターンマスタ">売上パターンマスタ</option>
                                <option value="売上伝票用固定マスタ">売上伝票用固定マスタ</option>
                                <option value="仕入パターンマスタ">仕入パターンマスタ</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mr-0 mb-1">
                    <div class="col-8">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="Condition1">申請日</span>
                            </div>
                            <input type="text" id="SampleDTPicker1" class="form-control" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="SampleCalendar1"><i class="fa fa-calendar-alt"></i></button>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">〜</span>
                            </div>
                            <input type="text" id="SampleDTPicker2" class="form-control" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="SampleCalendar2"><i class="fa fa-calendar-alt"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="Condition1">申請者</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Condition1" aria-describedby="Condition1">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#DepartmentCodeSearchDialog">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mr-0 mb-3">
                    <div class="col-8">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="Condition1">承認日</span>
                            </div>
                            <input type="text" id="SampleDTPicker3" class="form-control" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="SampleCalendar3"><i class="fa fa-calendar-alt"></i></button>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">〜</span>
                            </div>
                            <input type="text" id="SampleDTPicker4" class="form-control" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="SampleCalendar4"><i class="fa fa-calendar-alt"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="Condition1">承認者</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Condition1" aria-describedby="Condition1">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#DepartmentCodeSearchDialog">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mr-0 mt-3 d-none">
                    <div class="col-1">
                        <label class="col-form-label" for="inputGroupSelect">並び替え</label>
                    </div>
                    <div class="col-3">
                        <div class="input-group mb-3">
                            <select class="custom-select form-control" id="inputGroupSelect11">
                                <option value=""></option>
                                <option value="status">承認状態</option>
                                <option value="target">承認対象</option>
                                <option value="application_date">申請日</option>
                                <option value="applicant">申請者</option>
                                <option value="primary_approval_date">承認日</option>
                                <option value="primary_approver">承認者</option>
                            </select>
                            <div class="input-group-append">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-info active">
                                        <input type="radio" name="options" id="asc1" autocomplete="off" checked>
                                        昇順
                                    </label>
                                    <label class="btn btn-outline-info">
                                        <input type="radio" name="options" id="desc1" autocomplete="off">
                                        降順
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group mb-3">
                            <select class="custom-select form-control" id="inputGroupSelect12">
                                <option value=""></option>
                                <option value="status">承認状態</option>
                                <option value="target">承認対象</option>
                                <option value="application_date">申請日</option>
                                <option value="applicant">申請者</option>
                                <option value="primary_approval_date">承認日</option>
                                <option value="primary_approver">承認者</option>
                            </select>
                            <div class="input-group-append">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-info active">
                                        <input type="radio" name="options" id="asc2" autocomplete="off" checked>
                                        昇順
                                    </label>
                                    <label class="btn btn-outline-info">
                                        <input type="radio" name="options" id="desc2" autocomplete="off">
                                        降順
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group mb-3">
                            <select class="custom-select form-control" id="inputGroupSelect13">
                                <option value=""></option>
                                <option value="status">承認状態</option>
                                <option value="target">承認対象</option>
                                <option value="application_date">申請日</option>
                                <option value="applicant">申請者</option>
                                <option value="primary_approval_date">承認日</option>
                                <option value="primary_approver">承認者</option>
                            </select>
                            <div class="input-group-append">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-info active">
                                        <input type="radio" name="options" id="asc3" autocomplete="off" checked>
                                        昇順
                                    </label>
                                    <label class="btn btn-outline-info">
                                        <input type="radio" name="options" id="desc3" autocomplete="off">
                                        降順
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid pt-4 pb-3 pl-0 clearfix">
                    <div class="float-left">
                        <button type="reset" class="btn btn-secondary btn-lg macss-btn-main">@MacssWeb.Resources.ControlText.ConditionClear</button>
                    </div>
                    <div class="float-right">
                        <button type="submit" class="btn btn-primary btn-lg macss-btn-main">@MacssWeb.Resources.ControlText.Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row mt-3 mb-4">
    <div class="col-6">
        <button type="submit" role="button" class="btn btn-primary macss-btn-sub" data-toggle="modal" data-target="#ConfirmDialog">承認</button>
    </div>
</div>
<div class="row mt-3">
    <div class="col-10">
        <button type="button" class="btn btn-secondary macss-btn-sub">全選択</button>
        <button type="button" class="btn btn-secondary macss-btn-sub">全解除</button>
    </div>
    <div class="col-2 text-right">
        <div class="dropdown">
            <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bars"></i>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">CSVダウンロード</a>
            </div>
        </div>
    </div>
</div>
<table id="SampleList" class="table table-striped table-hover macss-data-table">
    <thead class="macss-data-table-header">
        <tr>
            <th style="width: 180px;"></th>
            <th style="width: 90px;">承認対象</th>
            <th>
                承認状態
            </th>
            <th>
                承認対象　　　　　　　　
            </th>
            <th>
                申請日時　　　　
            </th>
            <th>
                申請者　　　　　　　　
            </th>
            <th>
                一次承認日時　　
            </th>
            <th>
                一次承認者
            </th>
            <th>
                最終承認日時　　
            </th>
            <th>
                最終承認者
            </th>
            <th>
                否認日時　　　　　　
            </th>
            <th>
                否認理由
            </th>
            <th>
                否認者　　　　
            </th>
            <th>
                取戻申請日時　　
            </th>
            <th>
                取戻理由
            </th>
            <th>
                取戻承認日時　　
            </th>
            <th>
                取戻承認者
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @*<a data-toggle="modal" data-target="#DetailsDialog" title="詳細"><i class="far fa-file-alt" style="color:#007bff" aria-hidden="true"></i></a>*@
                <a data-toggle="modal" data-target="#ReasonDenialInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">否</a>
                <a data-toggle="modal" data-target="#ReasonRecoveryInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">取</a>
            </td>
            <td><input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter"></td>
            <td>申請済</td>
            <td>包装商品発注</td>
            <td>2020/11/17 12:34</td>
            <td>佐藤 和光</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>
                @*<a data-toggle="modal" data-target="#DetailsDialog" title="詳細"><i class="far fa-file-alt" style="color:#007bff" aria-hidden="true"></i></a>*@
                <a data-toggle="modal" data-target="#ReasonDenialInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">否</a>
                <a data-toggle="modal" data-target="#ReasonRecoveryInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">取</a>
            </td>
            <td><input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter"></td>
            <td>承認済</td>
            <td>包装商品発注</td>
            <td>2020/11/17 12:34</td>
            <td>佐藤 和光</td>
            <td>2020/11/18 23:45</td>
            <td>岩垂 範久</td>
            <td>2020/11/19 01:23</td>
            <td>早川 香理</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                @*                <a data-toggle="modal" data-target="#DetailsDialog" title="詳細"><i class="far fa-file-alt" style="color:#007bff" aria-hidden="true"></i></a>*@
                <a data-toggle="modal" data-target="#ReasonDenialInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">否</a>
                <a data-toggle="modal" data-target="#ReasonRecoveryInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">取</a>
            </td>
            <td>
                <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
            </td>
            <td>                承認済            </td>
            <td>                仕入単価マスタ            </td>
            <td>2020/11/17 12:34</td>
            <td>佐藤 和光</td>
            <td>                -            </td>
            <td>                -            </td>
            <td>                2020/11/19 01:23            </td>
            <td>                早川 香理            </td>
            <td>            </td>
            <td>            </td>
            <td>            </td>
            <td>            </td>
            <td>            </td>
            <td>            </td>
            <td>            </td>
        </tr>
        <tr>
            <td>
                @*               <a data-toggle="modal" data-target="#DetailsDialog" title="詳細"><i class="far fa-file-alt" style="color:#007bff" aria-hidden="true"></i></a>*@
                <a data-toggle="modal" data-target="#ReasonDenialInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">否</a>
                <a data-toggle="modal" data-target="#ReasonRecoveryInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">取</a>
            </td>
            <td>
                <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
            </td>
            <td>                否認済            </td>
            <td>                仕入単価マスタ            </td>
            <td>2020/11/17 12:34</td>
            <td>佐藤 和光</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>                2020/11/19 01:23            </td>
            <td>
                <a tabindex="0" class="btn btn-sm btn-info" role="button" data-toggle="popover"
                   data-trigger="focus" title="否認理由"
                   data-content="xxxxxxxxxxxxxxxxxxxx">否認理由</a>
            </td>
            <td>                早川 香理            </td>
            <td>            </td>
            <td>            </td>
            <td>            </td>
            <td>            </td>
        </tr>
        <tr>
            <td>
                @*             <a data-toggle="modal" data-target="#DetailsDialog" title="詳細"><i class="far fa-file-alt" style="color:#007bff" aria-hidden="true"></i></a>*@
                <a data-toggle="modal" data-target="#ReasonDenialInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">否</a>
                <a data-toggle="modal" data-target="#ReasonRecoveryInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">取</a>
            </td>
            <td>
                <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
            </td>
            <td>
                取戻申請済
            </td>
            <td>
                包装商品発注
            </td>
            <td>2020/11/17 12:34</td>
            <td>佐藤 和光</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                2020/11/17 20:00
            </td>
            <td>
                <a tabindex="0" class="btn btn-sm btn-info" role="button" data-toggle="popover"
                   data-trigger="focus" title="取戻理由"
                   data-content="ｙｙｙｙｙｙｙｙ">取戻理由</a>
            </td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>
                @*               <a data-toggle="modal" data-target="#DetailsDialog" title="詳細"><i class="far fa-file-alt" style="color:#007bff" aria-hidden="true"></i></a>*@
                <a data-toggle="modal" data-target="#ReasonDenialInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">否</a>
                <a data-toggle="modal" data-target="#ReasonRecoveryInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">取</a>
            </td>
            <td><input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter"></td>
            <td>申請済</td>
            <td>包装商品発注</td>
            <td>2020/11/17 12:34</td>
            <td>佐藤 和光</td>
            <td>2020/11/18 23:45</td>
            <td>岩垂 範久</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                @*             <a data-toggle="modal" data-target="#DetailsDialog" title="詳細"><i class="far fa-file-alt" style="color:#007bff" aria-hidden="true"></i></a>*@
                <a data-toggle="modal" data-target="#ReasonDenialInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">否</a>
                <a data-toggle="modal" data-target="#ReasonRecoveryInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">取</a>
            </td>
            <td>
                <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
            </td>
            <td>
                取戻承認済
            </td>
            <td>
                包装商品発注
            </td>
            <td>2020/11/17 12:34</td>
            <td>佐藤 和光</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                2020/11/17 20:00
            </td>
            <td>
                <a tabindex="0" class="btn btn-sm btn-info" role="button" data-toggle="popover"
                   data-trigger="focus" title="取戻理由"
                   data-content="ｙｙｙｙｙｙｙｙ">取戻理由</a>
            </td>
            <td>
                2020/11/17 21:00
            </td>
            <td>岩垂 範久</td>
        </tr>

        <tr>
            <td>
                @*            <a data-toggle="modal" data-target="#DetailsDialog" title="詳細"><i class="far fa-file-alt" style="color:#007bff" aria-hidden="true"></i></a>*@
                <a data-toggle="modal" data-target="#ReasonDenialInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">否</a>
                <a data-toggle="modal" data-target="#ReasonRecoveryInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">取</a>
            </td>
            <td><input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter"></td>
            <td>申請済</td>
            <td>包装商品発注</td>
            <td>2020/11/17 12:34</td>
            <td>佐藤 和光</td>
            <td>-</td>
            <td>-</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                @*           <a data-toggle="modal" data-target="#DetailsDialog" title="詳細"><i class="far fa-file-alt" style="color:#007bff" aria-hidden="true"></i></a>*@
                <a data-toggle="modal" data-target="#ReasonDenialInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">否</a>
                <a data-toggle="modal" data-target="#ReasonRecoveryInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">取</a>
            </td>
            <td><input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter"></td>
            <td>申請済</td>
            <td>請求関連書印刷</td>
            <td>2020/11/17 12:34</td>
            <td>佐藤 和光</td>
            <td>-</td>
            <td>-</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                @*              <a data-toggle="modal" data-target="#DetailsDialog" title="詳細"><i class="far fa-file-alt" style="color:#007bff" aria-hidden="true"></i></a>*@
                <a data-toggle="modal" data-target="#ReasonDenialInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">否</a>
                <a data-toggle="modal" data-target="#ReasonRecoveryInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">取</a>
            </td>
            <td><input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter"></td>
            <td>申請済</td>
            <td>仕入単価マスタ</td>
            <td>2020/11/17 12:34</td>
            <td>佐藤 和光</td>
            <td>-</td>
            <td>-</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                @*            <a data-toggle="modal" data-target="#DetailsDialog" title="詳細"><i class="far fa-file-alt" style="color:#007bff" aria-hidden="true"></i></a>*@
                <a data-toggle="modal" data-target="#ReasonDenialInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">否</a>
                <a data-toggle="modal" data-target="#ReasonRecoveryInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">取</a>
            </td>
            <td><input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter"></td>
            <td>申請済</td>
            <td>販売単価マスタ</td>
            <td>2020/11/17 12:34</td>
            <td>佐藤 和光</td>
            <td>-</td>
            <td>-</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                @*            <a data-toggle="modal" data-target="#DetailsDialog" title="詳細"><i class="far fa-file-alt" style="color:#007bff" aria-hidden="true"></i></a>*@
                <a data-toggle="modal" data-target="#ReasonDenialInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">否</a>
                <a data-toggle="modal" data-target="#ReasonRecoveryInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">取</a>
            </td>
            <td><input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter"></td>
            <td>申請済</td>
            <td>包装単価マスタ</td>
            <td>2020/11/17 12:34</td>
            <td>佐藤 和光</td>
            <td>-</td>
            <td>-</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                @*              <a data-toggle="modal" data-target="#DetailsDialog" title="詳細"><i class="far fa-file-alt" style="color:#007bff" aria-hidden="true"></i></a>*@
                <a data-toggle="modal" data-target="#ReasonDenialInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">否</a>
                <a data-toggle="modal" data-target="#ReasonRecoveryInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">取</a>
            </td>
            <td><input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter"></td>
            <td>申請済</td>
            <td>包装資材マスタ</td>
            <td>2020/11/17 12:34</td>
            <td>佐藤 和光</td>
            <td>-</td>
            <td>-</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                @*              <a data-toggle="modal" data-target="#DetailsDialog" title="詳細"><i class="far fa-file-alt" style="color:#007bff" aria-hidden="true"></i></a>*@
                <a data-toggle="modal" data-target="#ReasonDenialInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">否</a>
                <a data-toggle="modal" data-target="#ReasonRecoveryInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">取</a>
            </td>
            <td><input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter"></td>
            <td>申請済</td>
            <td>契約品名マスタ</td>
            <td>2020/11/17 12:34</td>
            <td>佐藤 和光</td>
            <td>-</td>
            <td>-</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                @*              <a data-toggle="modal" data-target="#DetailsDialog" title="詳細"><i class="far fa-file-alt" style="color:#007bff" aria-hidden="true"></i></a>*@
                <a data-toggle="modal" data-target="#ReasonDenialInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">否</a>
                <a data-toggle="modal" data-target="#ReasonRecoveryInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">取</a>
            </td>
            <td><input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter"></td>
            <td>申請済</td>
            <td>売上パターンマスタ</td>
            <td>2020/11/17 12:34</td>
            <td>佐藤 和光</td>
            <td>-</td>
            <td>-</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                @*                <a data-toggle="modal" data-target="#DetailsDialog" title="詳細"><i class="far fa-file-alt" style="color:#007bff" aria-hidden="true"></i></a>*@
                <a data-toggle="modal" data-target="#ReasonDenialInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">否</a>
                <a data-toggle="modal" data-target="#ReasonRecoveryInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">取</a>
            </td>
            <td><input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter"></td>
            <td>申請済</td>
            <td>売上伝票用固定マスタ</td>
            <td>2020/11/17 12:34</td>
            <td>佐藤 和光</td>
            <td>-</td>
            <td>-</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                @*                <a data-toggle="modal" data-target="#DetailsDialog" title="詳細"><i class="far fa-file-alt" style="color:#007bff" aria-hidden="true"></i></a>*@
                <a data-toggle="modal" data-target="#ReasonDenialInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">否</a>
                <a data-toggle="modal" data-target="#ReasonRecoveryInputDialog" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" data-toggle="popover" data-trigger="focus" style="color:#007bff">取</a>
            </td>
            <td><input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter"></td>
            <td>申請済</td>
            <td>仕入パターンマスタ</td>
            <td>2020/11/17 12:34</td>
            <td>佐藤 和光</td>
            <td>-</td>
            <td>-</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<div class="modal" id="ConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="ConfirmDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmDialogTitle">@MacssWeb.Resources.Title.ExecConfirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">承認します。よろしいですか?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@MacssWeb.Resources.ControlText.Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">承認</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="DetailsDialog" tabindex="-1" role="dialog" aria-labelledby="ConfirmDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmDialogTitle">詳細画面</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">詳細画面に遷移します。</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@MacssWeb.Resources.ControlText.Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="ReasonDenialInputDialog" tabindex="-1" role="dialog" aria-labelledby="ConfirmDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmDialogTitle">否認理由入力</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table macss-form-table">
                    <colgroup>
                        <col class="macss-form-table-title" />
                        <col class="macss-form-table-contents" />
                    </colgroup>
                    <tr>
                        <th scope="row">
                            <label class="control-label required" for="inlineRadio2">否認理由</label>
                        </th>
                        <td>
                            <textarea class="form-control" rows="10" cols="40"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-4">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">戻る</button>
                    </div>
                    <div class="col-8 text-right">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="ReasonRecoveryInputDialog" tabindex="-1" role="dialog" aria-labelledby="ConfirmDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmDialogTitle">取戻理由入力</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table macss-form-table">
                    <colgroup>
                        <col class="macss-form-table-title" />
                        <col class="macss-form-table-contents" />
                    </colgroup>
                    <tr>
                        <th scope="row">
                            <label class="control-label required" for="inlineRadio2">取戻理由</label>
                        </th>
                        <td>
                            <textarea class="form-control" rows="10" cols="40"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-4">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">戻る</button>
                    </div>
                    <div class="col-8 text-right">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function setDepartmentCode(code, value) {
        $("#bumon_cd").val(code);
        $("#DepartmentName").text(value);
    }
    $(function () {
        var createDatePicker = new Macss.DatetimePicker.MacssDtPicker("#create_date", "#CreateDateCalendar");
        createDatePicker.configure();
        var updateDatePicker = new Macss.DatetimePicker.MacssDtPicker("#update_date", "#UpdateDateCalendar");
        updateDatePicker.configure();
    });

</script>
