@{
    ViewBag.Title = "マスタメンテナンス(一括式)";
    ViewBag.PageMainTitle = "マスタメンテナンス(一括式)";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6">
            <ul class="macss-submenu">
                <li>
                    @Html.ActionLink("包装単価マスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("包装資材マスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("仕入単価マスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("販売単価マスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("売上パターンテーブル", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("仕入パターンテーブル", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("契約品名マスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("名称マスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("運送方法制御マスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("取引先マスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("請求先統合テーブル", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("基幹配送届先マスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("郵便番号マスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("得意先PCコードマスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("納入先マスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("業務マスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("運送コースマスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("伝票区分マスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("FE機種マスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("休日カレンダーマスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("JISマスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("TMS業務登録・データ連携マスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("基幹配送ルートマスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("基幹配送車両マスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("運賃明細名称マスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("地区倉庫マスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("装置指定マスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("発番マスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("材質コードマスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("単位マスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("倉庫マスタ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("勘定テーブル", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("業務区分テーブル", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("明細テーブル", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("配賦テーブル", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("ＰＣ部門テーブル", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("ＰＣ事業区分テーブル", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("ＰＣ顧客区分テーブル", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("TMS業務登録連携データ", "MasterBatch", "Home", new { area = "Base" }, null)
                </li>
            </ul>
        </div>
    </div>
</div>
