@Html.AntiForgeryToken()

@section Scripts {
    <script>
        $(function () {
            var dt = new Macss.DataTables.MacssDataTable("#SampleList");
            dt.configure();

            //MacssDataTable（dataTables.fixedColumns.js）に表示する列が15件以上あると計算間違いで最左端列にスクロールバーが表示されるため、非表示にする
            $('.DTFC_LeftBodyLiner').css('overflow-y', 'hidden');
        });
    </script>
}

<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-4">
        @if (ViewBag.ResultExec != null && ViewBag.ResultExec == true)
        {
            <a role="button" class="btn btn-secondary" href="@Url.Action("Index", "Home")">@MacssWeb.Resources.ControlText.BackToSubMenu</a>
        }
    </div>
</div>

<div class="container-fluid">
    <div>
        <p>
            @ViewBag.ConfirmMessage
        </p>
    </div>
</div>

@if (ViewBag.ResultExec == null || ViewBag.ResultExec == false)
{
    <div class="row mr-0 mb-1">
        <div class="col-5">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Condition1" style="width:315px;">改正省エネ登録用データ（Fe松本）</span>
                </div>
                <div class="form-control form-check">
                    　<input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option1" checked>
                    <label class="form-check-label" for="inlineCheckbox6">出力する（9999件）</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row mr-0 mb-1">
        <div class="col-5">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Condition1" style="width:315px;">改正省エネ登録用データ（FMC(SW)用）</span>
                </div>
                <div class="form-control form-check">
                    　<input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option1" checked>
                    <label class="form-check-label" for="inlineCheckbox6">出力する（9999件）</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row mr-0 mb-1">
        <div class="col-5">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Condition1" style="width:315px;">改正省エネ登録用データ（FPS大町用）</span>
                </div>
                <div class="form-control form-check">
                    　<input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option1" checked>
                    <label class="form-check-label" for="inlineCheckbox6">出力する（9999件）</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row mr-0 mb-1">
        <div class="col-5">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Condition1" style="width:315px;">改正省エネデータ(FB本社用)</span>
                </div>
                <div class="form-control form-check">
                    　<input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option1" checked>
                    <label class="form-check-label" for="inlineCheckbox6">出力する（9999件）</label>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row mr-0 mb-1">
        <div class="col-5">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Condition1" style="width:315px;">改正省エネ登録用データ（Fe松本）</span>
                </div>
                <label class="form-control single-line">9999件</label>
            </div>
        </div>
    </div>
    <div class="row mr-0 mb-1">
        <div class="col-5">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Condition1" style="width:315px;">改正省エネ登録用データ（FMC(SW)用）</span>
                </div>
                <label class="form-control single-line">9999件</label>
            </div>
        </div>
    </div>
    <div class="row mr-0 mb-1">
        <div class="col-5">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Condition1" style="width:315px;">改正省エネ登録用データ（FPS大町用）</span>
                </div>
                <label class="form-control single-line">9999件</label>
            </div>
        </div>
    </div>
    <div class="row mr-0 mb-1">
        <div class="col-5">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Condition1" style="width:315px;">改正省エネデータ(FB本社用)</span>
                </div>
                <label class="form-control single-line">9999件</label>
            </div>
        </div>
    </div>
}

<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-4">
        @if (ViewBag.ResultExec != null && ViewBag.ResultExec == true)
        {
            <a role="button" class="btn btn-secondary" href="@Url.Action("Index", "Home")">@MacssWeb.Resources.ControlText.BackToSubMenu</a>
        }
    </div>
    @if (ViewBag.ResultExec == null || ViewBag.ResultExec == false)
    {
        <div class="col-4 text-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ConfirmDialog">@ViewBag.ButtonText</button>
        </div>
    }
</div>

<div class="modal" id="ConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="ConfirmDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmDialogTitle">@MacssWeb.Resources.Title.ExecConfirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @ViewBag.ConfirmDialogText
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" name="cmdBtmExec" value="@((int)MacssWeb.Common.ButtonValues.Exec)">@MacssWeb.Resources.ControlText.Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@MacssWeb.Resources.ControlText.No</button>
            </div>
        </div>
    </div>
</div>
