<html lang="ja">
@{
    ViewBag.Title = "請求データ作成";
    ViewBag.PageMainTitle = "請求データ作成確認";
    ViewBag.Date = "2020年12月";
    ViewBag.Data = "リハーサル";

}
@section Scripts {
    <script>
        $(function () {

            var dt = new Macss.DataTables.MacssDataTable("#UploadConfirmList");
            dt.setScrollY("600px");
            dt.configure();

        });
    </script>
}
<div class="alert alert-info">
    <span>請求データを作成します。よろしいですか？</span>
</div>
<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-4">
        <a role="button" class="btn btn-secondary" href="@Url.Action("BillingExec")">戻る</a>
    </div>
    <div class="col-4 text-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ConfirmDialog">作成</button>
    </div>
</div>
<div id="ConditionMain" class="container-fluid mt-3 mb-3 pr-1 collapse show" aria-labelledby="headingOne" data-parent="#ConditionAccordion">
    <div class="row mr-0 mb-1">
        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Condition1">年月</span>
                </div>
                <span class="form-control">@ViewBag.Date</span>

            </div>
        </div>
    </div>
    <div class="row mr-0 mb-1">
        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Condition3">締日</span>
                </div>
                <div class="macss-input-group-input form-control">
                    <label class="form-check-label" for="inlineRadio1">末締</label>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Condition3">手番</span>
                </div>
                <div class="macss-input-group-input form-control">
                    <label class="form-check-label" for="inlineRadio1">1手番</label>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Condition3">得意先</span>
                </div>
                <div class="macss-input-group-input form-control">
                    <label class="form-check-label" for="inlineRadio1">全て</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row mr-0 mb-1">
        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">件数</span>
                </div>
                <span class="form-control">100件</span>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-4">
        <a role="button" class="btn btn-secondary" href="@Url.Action("BillingExec")">戻る</a>
    </div>
</div>
<div class="modal" id="ConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="ConfirmDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmDialogTitle">@MacssWeb.Resources.Title.ExecConfirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                請求データを作成します。よろしいですか？
            </div>
            <div class="modal-footer">
                @*                <button type="submit" class="btn btn-primary" name="cmdBtmExec" value="@((int)MacssWeb.Common.ButtonValues.Exec)">@MacssWeb.Resources.ControlText.Yes</button>*@
                @using (Html.BeginForm("BillingComplete", "Billing", null, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="UploadFileName" name="uploadFileName" value="@ViewBag.UploadFileName" />
                    <button type="submit" class="btn btn-primary">はい</button>
                }
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@MacssWeb.Resources.ControlText.No</button>
            </div>
        </div>
    </div>
</div>
