@Html.AntiForgeryToken()

@if (ViewBag.OnlyShow == null || ViewBag.OnlyShow == false)
{
    <div class="alert alert-info">
        <span>@ViewBag.ConfirmMessage</span>
    </div>
}

@{ var transAction = ViewContext.Controller.ValueProvider.GetValue("action").RawValue; }

@{ var showAction = string.Empty; }
@{ var setConfirmStyle = string.Empty; }
@if (ViewBag.InputFlg != null && ViewBag.InputFlg == true)
{
    showAction = "EditConfirm";
}
else
{
    showAction = "Details";
}

<div class="row justify-content-between macss-form-button-group-row">
    <div class="row justify-content-between macss-form-button-group-row">
        @if (ViewBag.OnlyShow == null || ViewBag.OnlyShow == false)
        {
            <div class="col-4">
                <button type="submit" class="btn btn-secondary" name="cmdTopBack" value="@((int)MacssWeb.Common.ButtonValues.Back)">@MacssWeb.Resources.ControlText.Back</button>
            </div>
        }
        else
        {
            <div class="col-4">
                <a role="button" class="btn btn-secondary" href="@Url.Action("Index")">@MacssWeb.Resources.ControlText.Back</a>
            </div>
        }
    </div>
</div>

@* 共通エリア *@
<div class="accordion mb-1" id="ConditionAccordion1">
    <div class="card">
        <div class="card-header macss-search-config-collapse-header" id="headingOne1">
            <div class="mb-0">
                <button class="btn macss-btn-condition-collapse" type="button" data-toggle="collapse" data-target="#ConditionMain1" aria-expanded="true" aria-controls="ConditionMain">
                    <div class="d-inline-block" style="color:#333">出荷現品 共通エリア</div>
                    <i id="CollapseHidden1" class="fas fa-chevron-circle-up" aria-hidden="true" style="display:none;"></i>
                    <i id="CollapseShow1" class="fas fa-chevron-circle-down" aria-hidden="true" style="display:none;"></i>
                </button>
            </div>
        </div>
        <div id="ConditionMain1" class="container-fluid mt-3 mb-3 pr-1 collapse show" aria-labelledby="headingOne1" data-parent="#ConditionAccordion1">
            <table class="table macss-form-table ml-3">
                <colgroup>
                    <col class="macss-form-table-title" />
                    <col class="macss-form-table-contents" />
                </colgroup>
                @* レコード区分 *@
                @if ((ViewBag.CreateFlg != null || ViewBag.CreateFlg == true))
                {
                }
                else
                {
                    <tr>
                        <th scope="row">
                            @Html.Label("レコード区分", htmlAttributes: new { @class = "control-label" })
                        </th>
                        <td>
                            <div>
                                59 営業在庫
                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <th scope="row">
                        @Html.Label("出荷No", htmlAttributes: new { @class = "control-label" })
                    </th>
                    <td>
                        <div>
                            <div>1234567890</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.Label("代表手配No", htmlAttributes: new { @class = "control-label" })
                    </th>
                    <td>
                        <div>
                            <div>1234567890</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.Label("代表項番", htmlAttributes: new { @class = "control-label" })
                    </th>
                    <td>
                        <div>
                            <div>001</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.Label("伝票区分", htmlAttributes: new { @class = "control-label" })
                    </th>
                    <td>
                        <div>
                            I 出荷発注伝票
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.Label("得意先", htmlAttributes: new { @class = "control-label" })
                    </th>
                    <td>
                        <div>
                            123456789 ㈱ダミー得意先
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.Label("出荷日", htmlAttributes: new { @class = "control-label" })
                    </th>
                    <td>
                        <div>
                            2021/04/01
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.Label("出荷場所", htmlAttributes: new { @class = "control-label" })
                    </th>
                    <td>
                        <div>
                            A1 ダミー出荷場所
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.Label("届先", htmlAttributes: new { @class = "control-label" })
                    </th>
                    <td>
                        <div>
                            123456789 ㈱ダミー届先　ダミー支店名
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.Label("最終需要家", htmlAttributes: new { @class = "control-label" })
                    </th>
                    <td>
                        <div>
                            AA005C ダミー需要家
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.Label("注文主名称（カナ）", htmlAttributes: new { @class = "control-label" })
                    </th>
                    <td>
                        <div>
                            フジツウデバイス（ＫＫ）
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.Label("注文番号（お客様）", htmlAttributes: new { @class = "control-label" })
                    </th>
                    <td>
                        <div>
                            1234567890
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.Label("品名（お客様）", htmlAttributes: new { @class = "control-label" })
                    </th>
                    <td>
                        <div>
                            A50L-2001-04313
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.Label("品名（富士電機）", htmlAttributes: new { @class = "control-label" })
                    </th>
                    <td>
                        <div>
                            2RI100G-160
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.Label("運送方法", htmlAttributes: new { @class = "control-label" })
                    </th>
                    <td>
                        <div>
                            68 路線便
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.Label("運送コース", htmlAttributes: new { @class = "control-label" })
                    </th>
                    <td>
                        <div>
                            F Ｆコース（ＦＦＪ定期）
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.Label("機種コードA", htmlAttributes: new { @class = "control-label" })
                    </th>
                    <td>
                        <div>
                            SE 感光体
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.Label("包装数", htmlAttributes: new { @class = "control-label" })
                    </th>
                    <td>
                        <div>
                            1
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.Label("届先棟", htmlAttributes: new { @class = "control-label" })
                    </th>
                    <td>
                        <div>
                            0001
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.Label("パレットNo", htmlAttributes: new { @class = "control-label" })
                    </th>
                    <td>
                        <div>
                            AAA
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.Label("出荷数", htmlAttributes: new { @class = "control-label" })
                    </th>
                    <td>
                        <div>
                            1,000
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.Label("出庫数", htmlAttributes: new { @class = "control-label" })
                    </th>
                    <td>
                        <div>
                            0
                        </div>
                    </td>
                </tr>
                <!-- ■25 届先別出庫集計表対象フラグ -->
                <tr>
                    <th scope="row">
                        <label class="control-label">届先別出庫集計表対象フラグ</label>
                    </th>
                    <td>
                        <div>対象</div>
                    </td>
                </tr>
                <!-- ■26 作成日時 -->
                @if ((ViewBag.CreateFlg != null || ViewBag.CreateFlg == true))
                {
                }
                else
                {
                    <tr>
                        <th scope="row">
                            <label class="control-label">作成日時</label>
                        </th>
                        <td>
                            <div>2021/02/03 04:05:06</div>
                        </td>
                    </tr>
                }
                <!-- ■27 更新日時 -->
                @if ((ViewBag.CreateFlg != null || ViewBag.CreateFlg == true))
                {
                }
                else
                {
                    <tr>
                        <th scope="row">
                            <label class="control-label">更新日時</label>
                        </th>
                        <td>
                            <div>2021/02/03 04:05:06</div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@* 営業在庫エリア *@
<div class="accordion mt-3 mb-3" id="ConditionAccordion2">
    <div class="card">
        <div class="card-header macss-search-config-collapse-header" id="headingOne2">
            <div class="mb-0">
                <button class="btn macss-btn-condition-collapse" type="button" data-toggle="collapse" data-target="#ConditionMain2" aria-expanded="true" aria-controls="ConditionMain">
                    <div class="d-inline-block" style="color:#333">出荷現品 営業在庫エリア</div>
                    <i id="CollapseHidden2" class="fas fa-chevron-circle-up" aria-hidden="true" style="display:none;"></i>
                    <i id="CollapseShow2" class="fas fa-chevron-circle-down" aria-hidden="true" style="display:none;"></i>
                </button>
            </div>
        </div>
        <div id="ConditionMain2" class="container-fluid mt-3 mb-3 pr-1 collapse show" aria-labelledby="headingOne2" data-parent="#ConditionAccordion2">
            <!-- ■営業在庫 -->
            <table id="SampleList" class="table table-striped table-hover macss-data-table">
                <thead class="macss-data-table-header">
                    <!-- thの文字数で列の幅が決まってしまうため、必要に応じて全角スペースを入れて列の幅を調整する必要がある-->
                    <tr>
                        @if ((ViewBag.EditFlg != null || ViewBag.EditFlg == true))
                        {
                            <th>編集状態</th>
                        }
                        else
                        {
                        }
                        <th>詰合手配No</th>
                        <th>詰合項番</th>
                        <th>詰合出荷数</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @if ((ViewBag.EditFlg != null || ViewBag.EditFlg == true))
                        {
                            <td style="white-space:nowrap;" class=" macss-table-proc-column" data-dt-row="0" data-dt-column="1">
                                <a tabindex="0" class="btn-sm" role="button" data-toggle="popover" data-trigger="focus" style="background-color:mistyrose;color:black">変更</a>
                            </td>
                        }
                        else
                        {
                        }
                        <td>L61283</td>
                        <td>01</td>
                        @if ((ViewBag.EditFlg != null || ViewBag.EditFlg == true))
                        {
                            <td class="text-right" style="background-color:mistyrose">50</td>
                        }
                        else
                        {
                            <td class="text-right">50</td>
                        }
                    </tr>
                    <tr>
                        @if ((ViewBag.EditFlg != null || ViewBag.EditFlg == true))
                        {
                            <td style="white-space:nowrap;" class=" macss-table-proc-column" data-dt-row="0" data-dt-column="1">
                                <a tabindex="0" class="btn-sm" role="button" data-toggle="popover" data-trigger="focus" style="background-color:mistyrose;color:black">削除</a>
                            </td>
                        }
                        else
                        {
                        }
                        <td>L61283</td>
                        <td>02</td>
                        <td class="text-right">100</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-6">
        <div class="input-group mb-1 w-50" style="padding-left:20px;">
            <div class="input-group-prepend" style="width:8rem;">
                <span class="input-group-text w-100">出荷数合計</span>
            </div>
            @if ((ViewBag.EditFlg != null || ViewBag.EditFlg == true))
            {
                <span class="form-control text-right">50</span>
            }
            else
            {
                <span class="form-control text-right">150</span>
            }
        </div>
    </div>
    <div class="col-6">
    </div>
</div>

<div class="mt-4"></div>

<div class="row justify-content-between macss-form-button-group-row">
    @if (ViewBag.OnlyShow == null || ViewBag.OnlyShow == false)
    {
        <div class="col-4">
            <button type="submit" class="btn btn-secondary" name="cmdBtmBack" value="@((int)MacssWeb.Common.ButtonValues.Back)">@MacssWeb.Resources.ControlText.Back</button>
        </div>
        <div class="col-4 text-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ConfirmDialog">@ViewBag.ButtonText</button>
        </div>
    }
    else
    {
        <div class="col-4">
            <a role="button" class="btn btn-secondary" href="@Url.Action("Index")">@MacssWeb.Resources.ControlText.Back</a>
        </div>
        <div class="col-8 text-right">
            <a role="button" class="btn btn-primary" href="@Url.Action("EditZaiko", new { id = @"01736" })">@MacssWeb.Resources.ControlText.Edit</a>
            <a role="button" class="btn btn-danger" href="@Url.Action("DeleteZaikoConfirm", new { id = @"01746" })">@MacssWeb.Resources.ControlText.Delete</a>
        </div>
    }
</div>

<div class="modal" id="ConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="ConfirmDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmDialogTitle">@MacssWeb.Resources.Title.ExecConfirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @ViewBag.ConfirmDialogText
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" name="cmdBtmExec" value="@((int)MacssWeb.Common.ButtonValues.Exec)">@MacssWeb.Resources.ControlText.Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@MacssWeb.Resources.ControlText.No</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var dt = new Macss.DataTables.MacssDataTable("#SampleList");
        dt.configure();

        var cond = new Macss.Collapse.ConditionsPanel("#ConditionAccordion1", "#CollapseShow1", "#CollapseHidden1");
        cond.setCollapseEvent();
        var cond = new Macss.Collapse.ConditionsPanel("#ConditionAccordion2", "#CollapseShow2", "#CollapseHidden2");
        cond.setCollapseEvent();
    });
</script>
