@model Macss.Database.Entity.AccountMaster

<!--D003-->

@Html.AntiForgeryToken()

<div>
    @Html.ValidationSummary(false, "入力エラーがあります。", new { @class = "alert alert-danger" })
</div>

<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-4">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#TransitionConfirmDialog">@MacssWeb.Resources.ControlText.BackToList</button>
    </div>
    <div class="col-4 text-right">
        <button type="submit" class="btn btn-primary">@MacssWeb.Resources.ControlText.InputConfirm</button>
    </div>
</div>

@* 振替元 *@
<div class="accordion mt-3" id="ConditionAccordion1">
    <div class="card">
        <div class="card-header macss-search-config-collapse-header" id="headingOne1">
            <div class="mb-0">
                <button class="btn macss-btn-condition-collapse" type="button" data-toggle="collapse" data-target="#ConditionMain1" aria-expanded="true" aria-controls="ConditionMain">
                    <div class="d-inline-block" style="color:#333">出荷現品 振替元</div>
                    <i id="CollapseHidden1" class="fas fa-chevron-circle-up" aria-hidden="true" style="display:none;"></i>
                    <i id="CollapseShow1" class="fas fa-chevron-circle-down" aria-hidden="true" style="display:none;"></i>
                </button>
            </div>
        </div>
        <div id="ConditionMain1" class="container-fluid mt-3 mb-3 pr-1 collapse show" aria-labelledby="headingOne1" data-parent="#ConditionAccordion1">
            <table class="table macss-form-table ml-3">
                <colgroup>
                    <col class="macss-form-table-title" />
                    <col class="macss-form-table-contents" />
                </colgroup>
                <tr>
                    <th scope="row">
                        <label class="control-label">元出荷No</label>
                    </th>
                    <td>
                        <div>
                            005092
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label class="control-label ">出荷数</label>
                    </th>
                    <td>
                        <div>
                            2,800
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label class="control-label ">経費負担No</label>
                    </th>
                    <td>
                        <div>
                            Y6324101
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label class="control-label ">出荷日</label>
                    </th>
                    <td>
                        <div>
                            2021/04/01
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label class="control-label">オリジナル出荷No</label>
                    </th>
                    <td>
                        <div>
                            1234567890
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label class="control-label">品名</label>
                    </th>
                    <td>
                        <div>
                            EUU0501 ２ＳＫ９５６－０１
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label class="control-label">届先</label>
                    </th>
                    <td>
                        <div>
                            Z044AA 信州電機産業㈱
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label class="control-label">届先住所</label>
                    </th>
                    <td>
                        <div>
                            長野県松本市中央４丁目５－３
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label class="control-label">得意先</label>
                    </th>
                    <td>
                        <div>
                            17301 ＦＤＴ）半事部）情電）企画・生産部
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

@* 振替先入力項目 *@
<div class="accordion mt-3" id="ConditionAccordion2">
    <div class="card">
        <div class="card-header macss-search-config-collapse-header" id="headingOne2">
            <div class="mb-0">
                <button class="btn macss-btn-condition-collapse" type="button" data-toggle="collapse" data-target="#ConditionMain2" aria-expanded="true" aria-controls="DetailMain">
                    <div class="d-inline-block" style="color:#333">出荷現品 振替先入力項目</div>
                    <i id="CollapseHidden2" class="fas fa-chevron-circle-up" aria-hidden="true" style="color: rgb(120, 188, 255);"></i>
                    <i id="CollapseShow2" class="fas fa-chevron-circle-down" aria-hidden="true" style="color: rgb(120, 188, 255); display: none;"></i>
                </button>
            </div>
        </div>

        <div id="ConditionMain2" class="container-fluid mt-3 mb-3 pr-1 collapse show" aria-labelledby="headingOne2" data-parent="#ConditionAccordion2">
            <table class="table macss-form-table2">
                <colgroup>
                    <col class="macss-form-table-title2">
                    <col class="macss-form-table-contents2">
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">
                            <label class="control-label required" for="account_id">出荷No</label>
                        </th>
                        <td>
                            <div class="row">
                                <div class="col-4">
                                    <div class="input-group">
                                        <input class="form-control text-box single-line" id="IDName" name="IDName" type="text" value="">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-outline-secondary">
                                                <i class="fa fa-redo"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label class="control-label" for="account_id">経費負担No</label>
                        </th>
                        <td>
                            <div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label class="control-label required" for="account_id">出荷数</label>
                        </th>
                        <td>
                            <div>
                                <input class="form-control text-box single-line" id="LotNo" name="IDName" type="text" value="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label class="control-label" for="account_id">品名</label>
                        </th>
                        <td>
                            <div>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label class="control-label" for="account_id">届先</label>
                        </th>
                        <td>
                            <div>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label class="control-label" for="account_id">届先住所</label>
                        </th>
                        <td>
                            <div>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label class="control-label" for="account_id">得意先</label>
                        </th>
                        <td>
                            <div>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-4">
                    <a class="btn btn-secondary macss-btn-sub" role="button">キャンセル</a>
                    <a id="addDetail" class="btn btn-primary macss-btn-sub" role="button">追加</a>
                    <a id="editDetail" class="btn btn-primary macss-btn-sub" role="button" style="display:none;">更新</a>
                </div>
            </div>
        </div>
    </div>
</div>

@* 振替先 *@
<div class="accordion mt-3 mb-3" id="ConditionAccordion3">
    <div class="card">
        <div class="card-header macss-search-config-collapse-header" id="headingOne3">
            <div class="mb-0">
                <button class="btn macss-btn-condition-collapse" type="button" data-toggle="collapse" data-target="#ConditionMain3" aria-expanded="true" aria-controls="ConditionMain3">
                    <div class="d-inline-block" style="color:#333">出荷現品 振替先</div>
                    <i id="CollapseHidden3" class="fas fa-chevron-circle-up" aria-hidden="true" style="color: rgb(120, 188, 255);"></i>
                    <i id="CollapseShow3" class="fas fa-chevron-circle-down" aria-hidden="true" style="color: rgb(120, 188, 255); display: none;"></i>
                </button>
            </div>
        </div>
        <div id="ConditionMain3" class="container-fluid mb-3 pr-1 collapse show" aria-labelledby="headingOne3" data-parent="#ConditionAccordion3">
            <table id="SampleList" class="table table-striped table-hover macss-data-table" style="padding-left:15px;">
                <thead class="macss-data-table-header">
                    <!-- thの文字数で列の幅が決まってしまうため、必要に応じて全角スペースを入れて列の幅を調整する必要がある-->
                    <tr>
                        <th>　　</th>
                        <th>出荷No　</th>
                        <th>経費負担No　</th>
                        <th>得意先コード　</th>
                        <th>得意先名　　　　　　　　　　　　　　　　</th>
                        <th>出荷数　</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="white-space:nowrap;">
                            <div class="macss-icon-container">
                                <div class="macss-icon-item">
                                    <a class="Edit01" data-toggle="modal" data-target="#TransferEditDialog" title="編集" data-setval="01"><i class="fas fa-pencil-alt" style="color:#007bff" aria-hidden="true"></i></a>
                                </div>
                                <div class="macss-icon-item">
                                    <a data-toggle="modal" data-target="#DeleteDialog" title="削除"><i class="fas fa-trash-alt" style="color:#007bff" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </td>
                        <td>005164</td>
                        <td>Y6324102</td>
                        <td>17301</td>
                        <td>ＦＤＴ）半事部）情電）企画・生産部</td>
                        <td class="text-right">100</td>
                    </tr>
                    <tr>
                        <td style="white-space:nowrap;">
                            <div class="macss-icon-container">
                                <div class="macss-icon-item">
                                    <a class="Edit01" data-toggle="modal" data-target="#TransferEditDialog" title="編集" data-setval="01"><i class="fas fa-pencil-alt" style="color:#007bff" aria-hidden="true"></i></a>
                                </div>
                                <div class="macss-icon-item">
                                    <a data-toggle="modal" data-target="#DeleteDialog" title="削除"><i class="fas fa-trash-alt" style="color:#007bff" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </td>
                        <td>005168</td>
                        <td>Y6324103</td>
                        <td>17301</td>
                        <td>ＦＤＴ）半事部）情電）企画・生産部</td>
                        <td class="text-right">2,700</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-6">
        <div class="input-group mb-1 w-50" style="padding-left:20px;">
            <div class="input-group-prepend" style="width:8rem;">
                <span class="input-group-text w-100">出荷数合計</span>
            </div>
            <span class="form-control text-right">2,800</span>
        </div>
    </div>
    <div class="col-6">
    </div>
</div>

<div class="mt-4"></div>

<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-4">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#TransitionConfirmDialog">@MacssWeb.Resources.ControlText.BackToList</button>
    </div>
    <div class="col-8 text-right">
        <button type="submit" class="btn btn-primary">@MacssWeb.Resources.ControlText.InputConfirm</button>
    </div>
</div>

<div class="modal" id="TransitionConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="ConfirmDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmDialogTitle">@MacssWeb.Resources.Title.TransitionConfirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @MacssWeb.Resources.Messages.TransitionConfirm
                <br>
                @MacssWeb.Resources.Messages.Confirm
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary macss-btn" href="@Url.Action("Index")" role="button">@MacssWeb.Resources.ControlText.Yes</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@MacssWeb.Resources.ControlText.No</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var cond = new Macss.Collapse.ConditionsPanel("#ConditionAccordion1", "#CollapseShow1", "#CollapseHidden1");
        cond.setCollapseEvent();
        var cond = new Macss.Collapse.ConditionsPanel("#ConditionAccordion2", "#CollapseShow2", "#CollapseHidden2");
        cond.setCollapseEvent();
        var cond = new Macss.Collapse.ConditionsPanel("#ConditionAccordion3", "#CollapseShow3", "#CollapseHidden3");
        cond.setCollapseEvent();

        var dt = new Macss.DataTables.MacssSimpleTable("#SampleList");
        dt.configure();
    });
</script>
