@model IEnumerable<MacssWeb.Models.AccountMasterUpload>

@{
    ViewBag.Title = "運送業務 - TASS";
    ViewBag.ScreenId = "";
    ViewBag.PageMainTitle = "出荷案内書(Fe松本)データ取込結果";
}
@section Scripts {
    <script>

        $(function () {

            var dt = new Macss.DataTables.MacssDataTable("#UploadConfirmList");
            dt.setScrollY("600px");
            dt.configure();

            $('[data-toggle="popover"]').popover();

        });
    </script>
}

<div class="alert @ViewBag.AlertType">
    <span>@ViewBag.ResultMessage</span>
</div>

<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-4">
        <a role="button" class="btn btn-secondary" href="@Url.Action("Upload01")">@MacssWeb.Resources.ControlText.BackToUpload</a>
    </div>
    <div class="col-4 text-right">
        <a role="button" class="btn btn-secondary" href="@Url.Action("Index", "Home")">@MacssWeb.Resources.ControlText.BackToSubMenu</a>
    </div>
</div>

<div class="container-fluid mt-4">
    <div class="form-inline">
        <div class="input-group mr-2 mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text">ファイル</span>
            </div>
            <span class="form-control">@ViewBag.UploadFileName</span>
        </div>
        <div class="input-group mr-2 mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text">エラー件数</span>
            </div>
            <span class="form-control">1 件@*@ViewBag.ErrorCount*@</span>
        </div>
    </div>
</div>

<div class="container-fluid mt-3">
    <div class="form-inline">
        <table class="macss-list-table">
            <tr>
                <td>
                    <div class="input-group mr-2 mb-1 macss-list-title">
                        出荷データ
                    </div>
                </td>
                <td>
                    <div class="input-group mr-2 mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">取込件数</span>
                        </div>
                        <span class="form-control">1 件</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group mr-2 mb-1 macss-list-title">
                        出荷現品データ
                    </div>
                </td>
                <td>
                    <div class="input-group mr-2 mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">取込件数</span>
                        </div>
                        <span class="form-control">1 件</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group mr-2 mb-1 macss-list-title">
                        Fe松本出荷案内書データ
                    </div>
                </td>
                <td>
                    <div class="input-group mr-2 mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">取込件数</span>
                        </div>
                        <span class="form-control">1 件</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group mr-2 mb-1 macss-list-title">
                        半導体輸出出荷指示データ
                    </div>
                </td>
                <td>
                    <div class="input-group mr-2 mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">取込件数</span>
                        </div>
                        <span class="form-control">1 件</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="row mt-2 mb-2">
    <div class="col-12 text-right">
        <div class="dropdown">
            <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bars"></i>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#CsvDownloadDialog">CSVダウンロード</a>
            </div>
        </div>
    </div>
</div>

<table id="UploadConfirmList" class="table table-striped table-hover macss-data-table">
    <thead class="macss-data-table-header">
        <!-- thの文字数で列の幅が決まってしまうため、必要に応じて全角スペースを入れて列の幅を調整する必要がある-->
        <tr>
            <th>行No</th>
            <th>エラー</th>
            <th>出荷No</th>
            <th>出荷日</th>
            <th>出荷場所コード</th>
            <th>受注手配No</th>
            <th>項番</th>
            <th>注文主コード</th>
            <th>物流請求No</th>
            <th>出荷数</th>
            <th>届先コード</th>
            <th>届先名称　　　　　　</th>
            <th>届先住所　　　　　　</th>
            <th>品目番号</th>
            <th>型式仕様</th>
            <th>機種コードA</th>
            <th>運送方法コード</th>
            <th>方面</th>
            <th>受注残区分</th>
            <th>伝票発行区分</th>
            <th>データ区分</th>
            <th>二次網コード</th>
            <th>データ種別</th>
            <th>出荷予定数</th>
            <th>出荷伝票抽出ロットNo</th>
            <th>顧客注文番号</th>
            <th>顧客型式</th>
            <th>注文総数</th>
            <th>頁</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                3
            </td>
            <td>
                <a tabindex="0" class="btn btn-sm btn-danger" role="button" data-toggle="popover"
                   data-trigger="focus" title="エラー詳細"
                   data-content="出荷数がゼロです。">詳細</a>
            </td>
            <td>376672</td>
            <td>2020/12/09</td>
            <td>B3</td>
            <td>NHJU53</td>
            <td>001</td>
            <td>D686AA</td>
            <td>15102</td>
            <td>0</td>
            <td></td>
            <td>富士田ロジスティクス株式会社</td>
            <td></td>
            <td>EQB0001</td>
            <td>6MBI800XRVF075V-50</td>
            <td>GY</td>
            <td>81</td>
            <td></td>
            <td>11</td>
            <td>1</td>
            <td>30</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
