@model IEnumerable<MacssWeb.Models.AccountMasterUpload>
@{
    ViewBag.Title = "取引先マスターメンテナンス（一括）取込結果";
    ViewBag.PageMainTitle = "取引先マスターメンテナンス（一括）取込結果";
}
@section Scripts {
    <script>$(function () {

            var dt = new Macss.DataTables.MacssDataTable("#UploadConfirmList");
            dt.setScrollY("600px");
            dt.configure();

            $('[data-toggle="popover"]').popover();

        });</script>
}

<div class="alert @ViewBag.AlertType">
    <span>マスターメンテナンスを完了しましたが、以下のデータはエラーのため取込できませんでした。</span>
</div>
<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-4">
    </div>
    <div class="col-4 text-right">
        <a role="button" class="btn btn-secondary" href="@Url.Action("Index")">再アップロード</a>
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="form-inline">
        <div class="input-group mr-2 mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text">ファイル</span>
            </div>
            <span class="form-control">@ViewBag.UploadFileName</span>
        </div>
        <div class="input-group mr-2 mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text">取込件数</span>
            </div>
            <span class="form-control">@ViewBag.UploadedCount</span>
        </div>
        <div class="input-group mr-2 mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text">エラー件数</span>
            </div>
            <span class="form-control">@ViewBag.ErrorCount</span>
        </div>
    </div>
    <div class="text-right">
        <div class="dropdown">
            <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bars"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#CsvDownloadDialog">CSVダウンロード</a>
            </div>
        </div>
    </div>
</div>
<table id="UploadConfirmList" class="table table-striped table-hover macss-data-table">
    <thead class="macss-data-table-header">
        <tr>
            <th>
                No
            </th>
            <th>
                エラー
            </th>
            <th>
                更新区分
            </th>
            <th>
                取引先コード
            </th>
            <th>
                取引先名
            </th>
            <th>
                取引先名カナ
            </th>
            <th>
                取引先略称
            </th>
            <th>
                部課名
            </th>
            <th>
                担当者名
            </th>
            <th>
                郵便番号
            </th>
            <th>
                住所
            </th>
            <th>
                電話番号
            </th>
            <th>
                FAX番号
            </th>
            <th>
                請求締日
            </th>
            <th>
                納品書発行フラグ
            </th>
            <th>
                出荷括り区分
            </th>
            <th>
                本社C松本
            </th>
            <th>
                機種コード
            </th>
            <th>
                消費税区分
            </th>
            <th>
                帳票出力区分
            </th>
            <th>
                発送形式区分
            </th>
            <th>
                地区名
            </th>
            <th>
                経理担当事業部名
            </th>
            <th>
                経理担当部課名
            </th>
            <th>
                経理担当者名
            </th>
            <th>
                部署コード
            </th>
            <th>
                売上伝票形式区分
            </th>
            <th>
                PC顧客コード
            </th>
            <th>
                切替後PC顧客コード
            </th>
            <th>
                PC顧客コード切替日
            </th>
            <th>
                請求明細書発行区分
            </th>
            <th>
                TASS用請求先コード1
            </th>
            <th>
                TASS用請求先コード2
            </th>
            <th>
                TASS用請求先コード3
            </th>
            <th>
                TASS用請求先コード4
            </th>
            <th>
                TASS用請求先コード5
            </th>
            <th>
                TASS用請求先コード6
            </th>
            <th>
                DCOS用請求先コード
            </th>
            <th>
                PATS用請求先コード
            </th>
            <th>
                AIMS用請求先コード1
            </th>
            <th>
                AIMS用請求先コード2
            </th>
            <th>
                出荷注文書手配表示絞込コード
            </th>
            <th>
                請求先括り請求先コード
            </th>
            <th>
                参照元取引先コード
            </th>
            <th>
                集計表提供制御コード
            </th>
            <th>
                PATS用PC部門事業区分コード
            </th>
            <th>
                PATS用PC部門事業区分コード
            </th>
            <th>
                PATS用PC部門事業区分コード切替日
            </th>
            <th>
                使用不可開始日
            </th>
            <th>
                使用不可理由
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
