@model IEnumerable<MacssWeb.Models.AccountMasterUpload>

@{
    ViewBag.Title = "運送業務 - TASS";
    ViewBag.ScreenId = "";
    ViewBag.PageMainTitle = "半導体輸出出荷データ作成確認";
}
@section Scripts {
    <script>
        $(function () {

            //状態切り替え
            $("#alert").hide();
            //$("#info").hide();
            //$("#exec").prop("disabled", true);



            var dt = new Macss.DataTables.MacssDataTable("#MakeConfirmList");
            dt.setScrollY("600px");
            dt.configure();

        });
    </script>
}

<div id="info" class="alert alert-info">
    <span>@ViewBag.ConfirmMessage</span>
</div>

<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-4">
        <a role="button" class="btn btn-secondary" href="@Url.Action("Make")">@MacssWeb.Resources.ControlText.Back</a>
    </div>
    <div class="col-4 text-right">
        <button id="exec" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ConfirmDialog">@MacssWeb.Resources.ControlText.Execute</button>
    </div>
</div>

<div class="container-fluid mt-2">
    <div class="form-inline">
        <div class="input-group mr-2 mb-2 col-4">
            <div class="input-group-prepend">
                <span class="input-group-text">作成区分</span>
            </div>
            <span class="form-control"></span>
        </div>
    </div>
    <div class="form-inline">
        <div class="input-group mr-2 mb-2 col-8">
            <div class="input-group-prepend">
                <span class="input-group-text">作成日時</span>
            </div>
            <span class="form-control"></span>
            <div class="input-group-append">
                <span class="input-group-text">～</span>
            </div>
            <span class="form-control"></span>
        </div>
    </div>
    <div class="form-inline">
        <div class="input-group mr-2 mb-2 col-4">
            <div class="input-group-prepend">
                <span class="input-group-text">出荷No</span>
            </div>
            <span class="form-control"></span>
        </div>
    </div>
    <div class="form-inline">
        <div class="input-group mr-2 mb-2 col-4">
            <div class="input-group-prepend">
                <span class="input-group-text">手配No</span>
            </div>
            <span class="form-control"></span>
        </div>
    </div>
    <div class="form-inline">
        <div class="input-group mr-2 mb-2 col-4">
            <div class="input-group-prepend">
                <span class="input-group-text">項番</span>
            </div>
            <span class="form-control"></span>
        </div>
    </div>
    <div class="form-inline">
        <div class="input-group mr-2 mb-2 col-4">
            <div class="input-group-prepend">
                <span class="input-group-text">出荷場所</span>
            </div>
            <span class="form-control"></span>
        </div>
    </div>
    <div class="form-inline">
        <div class="input-group mr-2 mb-2 col-4">
            <div class="input-group-prepend">
                <span class="input-group-text">注文主コード</span>
            </div>
            <span class="form-control"></span>
        </div>
    </div>
    <div class="form-inline">
        <div class="input-group mr-2 mb-2 col-4">
            <div class="input-group-prepend">
                <span class="input-group-text">注文主名</span>
            </div>
            <span class="form-control"></span>
        </div>
    </div>
    <div class="form-inline">
        <div class="input-group mr-2 mb-2 col-4">
            <div class="input-group-prepend">
                <span class="input-group-text">型式仕様</span>
            </div>
            <span class="form-control"></span>
        </div>
    </div>
</div>

<div class="container-fluid mt-2">
    <div class="form-inline">
        <div class="input-group mr-2 mb-1 col-4">
            <div class="input-group-prepend">
                <span class="input-group-text">対象件数</span>
            </div>
            <span class="form-control">@ViewBag.TargetCount</span>
        </div>
    </div>
</div>



<div class="modal" id="ConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="ConfirmDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmDialogTitle">@MacssWeb.Resources.Title.ExecConfirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @MacssWeb.Resources.Messages.MakeReconfirm
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("MakeResult", "D007", null, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary">@MacssWeb.Resources.ControlText.Yes</button>
                }
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@MacssWeb.Resources.ControlText.No</button>
            </div>
        </div>
    </div>
</div>
