@functions {
    public string GetAccept(List<string> accepts, string separator = ", ")
    {
        if(accepts == null || accepts.Count <= 0)
        {
            return String.Empty;
        }

        return String.Join(separator, accepts);
    }

    public string GetUploadFileCaption(List<string> accepts)
    {
        var ext = GetAccept(accepts, "、");

        //return String.Format("拡張子が、{0}で{1}以下のファイルを選択してください。", ext, MacssWeb.Common.Config.UploadMaxFileSizeText);
        return String.Format("CSV形式で{0}以下のファイルを選択してください。",  MacssWeb.Common.Config.UploadMaxFileSizeText);
    }
}

@Html.AntiForgeryToken()

<div class="container-fluid">
    <div>
        <p>
            @ViewBag.Caption
        </p>
    </div>
    <div class="row mr-0 mb-1">
        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Condition1">輸出出荷日</span>
                </div>
                <input type="text" id="SampleDTPicker1" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="SampleCalendar1"><i class="fa fa-calendar-alt"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mr-0 mb-1">
        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Condition1">拠点コード</span>
                </div>
                <select class="custom-select form-control" id="Condition3" aria-describedby="Condition3">
                    <option value="B3">B3(B1,B2,B3,B5)</option>
                    <option value="H1">H1(H1,H2)</option>
                    <option value="E7">E7(E7)</option>
                </select>
            </div>
        </div>
    </div>
    <div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" name="postedFile" accept="@GetAccept(ViewBag.UploadFileAccept)">
            <label class="custom-file-label" for="customFile" data-browse="参 照">ファイル選択...</label>
        </div>
        <small class="form-text text-muted">
            @GetUploadFileCaption(ViewBag.UploadFileAccept)
        </small>
        <div id="UploadErrorMessageArea" style="display:none">
            <span id="UploadErrorMessage" class="text-danger"></span>
        </div>
    </div>
</div>
        <div class="mt-4">
            <div>
                <div class="macss-upload-button-group-row pr-0 row">
                    <div class="col-8">
                        <a class="btn btn-secondary" href="@Url.Action("Index")" role="button">@MacssWeb.Resources.ControlText.BackToList</a>
                    </div>
                    <div class="col-4 text-right">
                        <button type="button" id="UploadExec" class="btn btn-primary">@MacssWeb.Resources.ControlText.UploadConfirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    $(function () {

        var fu = new Macss.FileUpload.MacssFileUpload();
        fu.configure();

        $('#UploadExec').on('click', function () {

            var form = $(this).parents('form');
            $("#UploadErrorMessageArea").hide();
            var accepts = [];

            @foreach (var item in ViewBag.UploadFileAccept)
            {
                @:accepts.push("@item");
            }

            var ret = false;

            ret = fu.acceptExt(accepts);

            if (ret == false) {
                $("#UploadErrorMessage").text("@MacssWeb.Resources.Validation.NotAllowedFileExtension");
                $("#UploadErrorMessageArea").show();
                return false;
            }

            ret = fu.withinRangeOfFileSize(@MacssWeb.Common.Config.UploadMaxFileSize);

            if (ret == false) {
                $("#UploadErrorMessage").text("@MacssWeb.Resources.Validation.OverFileSize");
                $("#UploadErrorMessageArea").show();
                return false;
            }

            form.submit();
        });
    })
</script>

