@model Macss.Database.Entity.AccountMaster

@{
    ViewBag.Title = "運送業務 - TASS";
    ViewBag.PageMainTitle = "半導体輸出梱包実績詳細確認";
    ViewBag.ScreenId = "";
    ViewBag.OnlyShow = true;
}

@section Scripts {
    <script>
        $(function () {

            var dt = new Macss.DataTables.MacssDataTable("#SampleList");
            dt.configure();
                                 
            //MacssDataTable（dataTables.fixedColumns.js）に表示する列が15件以上あると計算間違いで最左端列にスクロールバーが表示されるため、非表示にする
            $('.DTFC_LeftBodyLiner').css('overflow-y', 'hidden');

        });
    </script>
}

@using (Html.BeginForm("Details", "D035", null, FormMethod.Post))
{
      <div class="row justify-content-between macss-form-button-group-row">
          <div class="col-4">
              <a role="button" class="btn btn-secondary" href="@Url.Action("Index")">@MacssWeb.Resources.ControlText.Back</a>
          </div>
       </div>
       <div class="accordion" id="ConditionAccordion">
        <div class="card">
            <div class="card-header macss-search-config-collapse-header" id="headingOne">
                <div class="mb-0">
                    <button class="btn macss-btn-condition-collapse" type="button" data-toggle="collapse" data-target="#ConditionMain" aria-expanded="true" aria-controls="ConditionMain">
                        <div class="d-inline-block" style="color:#333"></div>
                        <i id="CollapseHidden" class="fas fa-chevron-circle-up" aria-hidden="true" style="color: rgb(120, 188, 255);"></i>
                        <i id="CollapseShow" class="fas fa-chevron-circle-down" aria-hidden="true" style="color: rgb(120, 188, 255); display: none;"></i>
                    </button>
                </div>
            </div>
            <div id="ConditionMain" class="container-fluid mt-3 mb-3 pr-1 collapse show" aria-labelledby="headingOne" data-parent="#ConditionAccordion">
                <table class="table macss-form-table2">
               <colgroup>
                   <col class="macss-form-table-title2">
                   <col class="macss-form-table-contents2">
                </colgroup>
               <tbody>
                   <tr>
                       <th scope="row">
                           <label class="control-label" for="account_id">出荷No</label>
                       </th>
                       <td>
                           <div>
                               12345
                           </div>
                       </td>
                   </tr>
                   <tr>
                   <tr>
                       <th scope="row">
                           <label class="control-label" for="account_id">輸出出荷No</label>
                       </th>
                       <td>
                           <div>
                               12345
                           </div>
                       </td>
                   </tr>
                   <tr>
                       <th scope="row">
                           <label class="control-label" for="account_id">輸出出荷日</label>
                       </th>
                       <td>
                           <div>
                               2021/04/19
                           </div>
                       </td>
                   </tr>
                   <tr>
                       <th scope="row">
                           <label class="control-label" for="account_id">出荷日</label>
                       </th>
                       <td>
                           <div>
                               2021/01/01
                           </div>
                       </td>
                   </tr>
                   <tr>
                       <th scope="row">
                           <label class="control-label" for="account_id">手配番号</label>
                       </th>
                       <td>
                           <div>
                               H12345
                           </div>
                       </td>
                   </tr>
                   <tr>
                       <th scope="row">
                           <label class="control-label" for="account_id">項番</label>
                       </th>
                       <td>
                           <div>
                               01
                           </div>
                       </td>
                   </tr>
                   <tr>
                       <th scope="row">
                           <label class="control-label" for="account_id">受注元コード</label>
                       </th>
                       <td>
                           <div>
                               01
                           </div>
                       </td>
                   </tr>
                   <tr>
                       <th scope="row">
                           <label class="control-label" for="account_id">機種コードA</label>
                       </th>
                       <td>
                           <div>
                               
                           </div>
                       </td>
                   </tr>
                   <tr>
                       <th scope="row">
                           <label class="control-label" for="account_id">出荷場所</label>
                       </th>
                       <td>
                           <div>
                               B3
                           </div>
                       </td>
                   </tr>
                   <tr>
                       <th scope="row">
                           <label class="control-label" for="account_id">得意先</label>
                       </th>
                       <td>
                           <div>
                               17302　FE）半事部）半工）パワーディスクリー
                           </div>
                       </td>
                   </tr>
                   <tr>
                       <th scope="row">
                           <label class="control-label" for="account_id">届先</label>
                       </th>
                       <td>
                           <div>
                               H12345　長野県長野市ダミー町　ダミー㈱
                           </div>
                       </td>
                   </tr>
                   <tr>
                       <th scope="row">
                           <label class="control-label" for="account_id">品名</label>
                       </th>
                       <td>
                           <div>
                               E123456
                           </div>
                       </td>
                   </tr>
                   <tr>
                       <th scope="row">
                           <label class="control-label" for="account_id">ケースマークコード</label>
                       </th>
                       <td>
                           <div>
                               MAE
                           </div>
                       </td>
                   </tr>
                   <tr>
                       <th scope="row">
                           <label class="control-label" for="account_id">注文主コード</label>
                       </th>
                       <td>
                           <div>
                           </div>
                       </td>
                   </tr>
                   <tr>
                       <th scope="row">
                           <label class="control-label" for="account_id">注文番号</label>
                       </th>
                       <td>
                           <div>
                               12345678
                           </div>
                       </td>
                   </tr>
                   <tr>
                       <th scope="row">
                           <label class="control-label" for="account_id">最終需要家</label>
                       </th>
                       <td>
                           <div>
                               W12345　ダミー有限公司
                           </div>
                       </td>
                   </tr>
                   <tr>
                       <th scope="row">
                           <label class="control-label" for="account_id">顧客識別</label>
                       </th>
                       <td>
                           <div>
                               Y
                           </div>
                       </td>
                   </tr>
               </tbody>
           </table>
            </div>
        </div>
       </div>
}

<table id="SampleList" class="table table-striped table-hover macss-data-table">
    <thead class="macss-data-table-header">
        <!-- thの文字数で列の幅が決まってしまうため、必要に応じて全角スペースを入れて列の幅を調整する必要がある-->
        <tr>
            <th>
                No
            </th>
            <th>
                ケースNo
            </th>
            <th>
                枝番　　　　　
            </th>
            <th>
                箱種　
            </th>
            <th>
                包装数　
            </th>
            <th>
                1箱入数　　　
            </th>
            <th>
                重量Ｎ／Ｗ　　　　　　
            </th>
            <th>
                重量Ｇ／Ｗ
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                1234567
            </td>
            <td>
                001
            </td>
            <td>
                B1
            </td>
            <td>
                1
            </td>
            <td>
                123456
            </td>
            <td>
                12,345
            </td>
            <td>
                12,345
            </td>
        </tr>
    </tbody>
</table>

<div class="mt-4">
</div>

<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-4">
        <a role="button" class="btn btn-secondary" href="@Url.Action("Index")">@MacssWeb.Resources.ControlText.Back</a>
    </div>
    <div class="col-4 text-right">
        <a role="button" class="btn btn-primary" href="@Url.Action("Edit")">@MacssWeb.Resources.ControlText.Edit</a>
        <a role="button" class="btn btn-danger" href="@Url.Action("DeleteConfirm")">@MacssWeb.Resources.ControlText.Delete</a>
    </div>
</div>