@{
    ViewBag.Title = "固定請求マスター更新確認";
    ViewBag.PageMainTitle = "固定請求マスター更新確認";
    ViewBag.ConfirmMessage = MacssWeb.Resources.Messages.DeleteConfirm;
    ViewBag.ButtonText = MacssWeb.Resources.ControlText.DeleteExec;
    ViewBag.ConfirmDialogText = MacssWeb.Resources.Messages.DeleteReconfirm;
}
@section Scripts {
    <script>
$(function () {

            var dt = new Macss.DataTables.MacssDataTable("#SampleList");
            dt.configure();

            //MacssDataTable（dataTables.fixedColumns.js）に表示する列が15件以上あると計算間違いで最左端列にスクロールバーが表示されるため、非表示にする
            $('.DTFC_LeftBodyLiner').css('overflow-y', 'hidden');

        });</script>
}
@using (Html.BeginForm("Delete", "Shipping", null, FormMethod.Post))
{
    <div class="alert alert-info">
        <span>以下内容で承認申請を行います。よろしいですか？</span>
    </div>
    <div class="row justify-content-between macss-form-button-group-row">
        <div class="col-4">
            <a class="btn btn-secondary" href="@Url.Action("Edit")" role="button">@MacssWeb.Resources.ControlText.Back</a>
        </div>
    </div>
    <div class="accordion" id="ConditionAccordion">
        <div class="card">
            <div class="card-header macss-search-config-collapse-header" id="headingOne">
                <div class="mb-0">
                    <button class="btn macss-btn-condition-collapse" type="button" data-toggle="collapse" data-target="#ConditionMain" aria-expanded="true" aria-controls="ConditionMain">
                        <div class="d-inline-block" style="color:#333"></div>
                        <i id="CollapseHidden" class="fas fa-chevron-circle-up" aria-hidden="true" style="color: rgb(120, 188, 255);"></i>
                        <i id="CollapseShow" class="fas fa-chevron-circle-down" aria-hidden="true" style="color: rgb(120, 188, 255); display: none;"></i>
                    </button>
                </div>
            </div>
            <div id="ConditionMain" class="container-fluid mt-3 mb-3 pr-1 collapse show" aria-labelledby="headingOne" data-parent="#ConditionAccordion">
                <table class="table macss-form-table2">
                    <colgroup>
                        <col class="macss-form-table-title2">
                        <col class="macss-form-table-contents2">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">請求先コード</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">印刷コード</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">行番号</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">印刷内容</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">自社住所区分</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">消費税欄印字</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">請求金額合計</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">消費税額</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">税抜金額</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">内容1</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">内容2</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">内容3</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">内容4</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">内容5</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">内容6</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">内容7</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">内容8</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">内容9</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">内容10</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">明細コード</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">PCコード</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">課税区分</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">税抜内訳金額</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">計上区分</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">計上期間開始日</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">計上期間終了日</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">客先伝票発行日</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">計上日付</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">請求期間取得加算月数1</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">請求期間取得加算月数2</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">請求期間取得加算月数3</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">請求期間取得加算月数4</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">請求期間取得加算月数5</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">請求期間取得加算月数6</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">請求伝票発行区分</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">売上伝票発行区分</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">請求担当者コード</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">責任者コード</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">業務コード</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">請求パターンコード</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">使用不可開始日</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control-label" for="account_id">使用不可理由</label>
                            </th>
                            <td>
                                <div></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<div class="mt-4"></div>
<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-4">
        <a class="btn btn-secondary" href="@Url.Action("Edit")" role="button">@MacssWeb.Resources.ControlText.Back</a>
    </div>
    <div class="col-4 text-right">
        <a role="button" class="btn btn-primary" data-toggle="modal" data-target="#ConfirmDialog">申請</a>
    </div>
</div>
<div class="modal" id="ConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="ConfirmDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmDialogTitle">@MacssWeb.Resources.Title.ExecConfirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                申請登録処理を実行します。よろしいですか？
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary macss-btn" href="@Url.Action("Index")" role="button">@MacssWeb.Resources.ControlText.Yes</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@MacssWeb.Resources.ControlText.No</button>
            </div>
        </div>
    </div>
</div>
