@model IEnumerable<MacssWeb.Models.AccountMasterUpload>

@{
    ViewBag.Title = "";
    ViewBag.ScreenId = "";
    ViewBag.PageMainTitle = "売上伝票再指定作成結果";
}
@section Scripts {
    <script>

        $(function () {

            var dt = new Macss.DataTables.MacssDataTable("#MakeConfirmList");
            dt.setScrollY("600px");
            dt.configure();

            $('[data-toggle="popover"]').popover();

        });
    </script>
}

<div class="alert @ViewBag.AlertType">
    <span>@ViewBag.ResultMessage</span>
</div>


<div class="row justify-content-between macss-form-button-group-row">
    <div class="col-12 text-right">
        <a class="btn btn-secondary" href="@Url.Action("Index")" role="button">@MacssWeb.Resources.ControlText.BackToList</a>
    </div>
</div>


<div class="container-fluid mt-2">
    <div class="form-inline">
        <div class="input-group mr-2 mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text">対象件数</span>
            </div>
            <span class="form-control text-right">@ViewBag.MakeCount</span>
        </div>
        <div class="input-group mr-2 mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text">エラー件数</span>
            </div>
            <span class="form-control text-right">@ViewBag.ErrorCount</span>
        </div>
    </div>
</div>


<div class="row mt-2 mb-2">
    <div class="col-12 text-right">
        <div class="dropdown">
            <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bars"></i>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#CsvDownloadDialog">CSVダウンロード</a>
            </div>
        </div>
    </div>
</div>

<table id="MakeConfirmList" class="table table-striped table-hover macss-data-table">
    <thead class="macss-data-table-header">
        <tr>
            <th>エラー</th>
            <th>請求No</th>
            <th>FB本社得意先コード</th>
            <th>請求先コード</th>
            <th>請求先名</th>
            <th>請求日</th>
            <th>確定日</th>
            <th>金額</th>
            <th>発行ステータス</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a tabindex="0" class="btn btn-sm btn-danger" role="button" data-toggle="popover"
                   data-trigger="focus" title="エラー詳細"
                   data-content="既に登録されています。">詳細</a>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

