@functions {
    public string GetAccept(List<string> accepts, string separator = ", ")
    {
        if (accepts == null || accepts.Count <= 0)
        {
            return String.Empty;
        }

        return String.Join(separator, accepts);
    }

    public string GetUploadFileCaption(List<string> accepts)
    {
        var ext = GetAccept(accepts, "、");

        //return String.Format("拡張子が、{0}で{1}以下のファイルを選択してください。", ext, MacssWeb.Common.Config.UploadMaxFileSizeText);
        return String.Format("EXCEL形式で{0}以下のファイルを選択してください。", MacssWeb.Common.Config.UploadMaxFileSizeText);
    }
}
@Html.AntiForgeryToken()
<div class="card">
    <div class="card-header macss-search-config-collapse-header" id="headingOne">
        <div class="mb-0">
            <button class="btn macss-btn-condition-collapse" type="button" data-toggle="collapse" data-target="#ConditionMain" aria-expanded="true" aria-controls="ConditionMain">
                <div class="d-inline-block" style="color:#333">ダウンロード</div>
                <i id="CollapseHidden" class="fas fa-chevron-circle-up" aria-hidden="true" style="color: rgb(120, 188, 255);"></i>
                <i id="CollapseShow" class="fas fa-chevron-circle-down" aria-hidden="true" style="color: rgb(120, 188, 255); display: none;"></i>
            </button>
        </div>
    </div>
    <div class="container-fluid">
        <div>
            <p>
                マスターメンテナンス用のExcelファイルをダウンロードします。
            </p>
            <div class="row">
            <div class="col-1">
                <span id="UnsohohoName" class="macss-val-ref col-1">使用区分</span>
            </div>
            <div class="macss-val-ref col-11">
                <table class="table table-bordered" style="width:700px;">
                    <thead>
                        <tr>
                            <th style="width:100px; background-color: #e9ecef; text-align:center;">H</th>
                            <th style="width:100px; background-color: #e9ecef; text-align:center;">i</th>
                            <th style="width:100px; background-color: #e9ecef; text-align:center;">M</th>
                            <th style="width:100px; background-color: #e9ecef; text-align:center;">P</th>
                            <th style="width:100px; background-color: #e9ecef; text-align:center;">構</th>
                            <th style="width:100px; background-color: #e9ecef; text-align:center;">Y</th>
                            <th style="width:100px; background-color: #e9ecef; text-align:center;">半</th>
                            <th style="width:100px; background-color: #e9ecef; text-align:center;">在</th>
                            <th style="width:100px; background-color: #e9ecef; text-align:center;">需</th>
                            <th style="width:100px; background-color: #e9ecef; text-align:center;">顧</th>
                            <th style="width:100px; background-color: #e9ecef; text-align:center;">得</th>
                            <th style="width:100px; background-color: #e9ecef; text-align:center;">基</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="SampleDTPicker1" class="form-control">
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="create_date" data-valmsg-replace="true"></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <small class="form-text text-muted">
                    ※すべて空白の場合には全件出力となります。
                </small>
            </div>
        </div>
        <div class="mt-4"></div>
        <div class="row justify-content-between macss-form-button-group-row">
            <div class="col-4">
            </div>
            <div class="col-4 text-right">
                <button type="button" class="btn btn-primary">ダウンロード</button>
            </div>
        </div>
    </div>
</div>
<div class="mt-4"></div>

<div class="card">
    <div class="card-header macss-search-config-collapse-header" id="headingOne">
        <div class="mb-0">
            <button class="btn macss-btn-condition-collapse" type="button" data-toggle="collapse" data-target="#ConditionMain" aria-expanded="true" aria-controls="ConditionMain">
                <div class="d-inline-block" style="color:#333">アップロード</div>
                <i id="CollapseHidden" class="fas fa-chevron-circle-up" aria-hidden="true" style="color: rgb(120, 188, 255);"></i>
                <i id="CollapseShow" class="fas fa-chevron-circle-down" aria-hidden="true" style="color: rgb(120, 188, 255); display: none;"></i>
            </button>
        </div>
    </div>
    <div class="container-fluid">
        <div>
            <p>
                @ViewBag.Caption
            </p>
        </div>
        <div>
            <div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="postedFile" accept="@GetAccept(ViewBag.UploadFileAccept)">
                    <label class="custom-file-label" for="customFile" data-browse="参 照">ファイル選択...</label>
                </div>
                <small class="form-text text-muted">
                    @GetUploadFileCaption(ViewBag.UploadFileAccept)
                </small>
                <div id="UploadErrorMessageArea" style="display:none">
                    <span id="UploadErrorMessage" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="mt-4"></div>
        <div class="row justify-content-between macss-form-button-group-row">
            <div class="col-4">
            </div>
            <div class="col-4 text-right">
                <button type="button" id="UploadExec" class="btn btn-primary">@MacssWeb.Resources.ControlText.UploadConfirm</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {

        var fu = new Macss.FileUpload.MacssFileUpload();
        fu.configure();

        $('#UploadExec').on('click', function () {

            var form = $(this).parents('form');
            $("#UploadErrorMessageArea").hide();
            var accepts = [];

            @foreach (var item in ViewBag.UploadFileAccept)
            {
                @:accepts.push("@item");
            }

            var ret = false;

            ret = fu.acceptExt(accepts);

            if (ret == false) {
                $("#UploadErrorMessage").text("@MacssWeb.Resources.Validation.NotAllowedFileExtension");
                $("#UploadErrorMessageArea").show();
                return false;
            }

            ret = fu.withinRangeOfFileSize(@MacssWeb.Common.Config.UploadMaxFileSize);

            if (ret == false) {
                $("#UploadErrorMessage").text("@MacssWeb.Resources.Validation.OverFileSize");
                $("#UploadErrorMessageArea").show();
                return false;
            }

            form.submit();
        });
    })
</script>
