
@{
    ViewBag.Title = "マスターメンテナンス";
    ViewBag.PageMainTitle = "マスターメンテナンス(エントリ一覧式・承認無)";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6">
            <ul class="macss-submenu">
                <li>
                    @Html.ActionLink("取引先マスター一覧", "Index", "D201", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("取引先マスター登録", "Create", "D201", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("取引先マスター(TMS用)一覧", "Index", "D202", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("取引先マスター(TMS用)登録", "Create", "D202", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("得意先PCコードマスター一覧", "Index", "D203", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("保管取引先マスター一覧", "Index", "D204", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("保管取引先マスター登録", "Create", "D204", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("届先マスター一覧", "Index", "D205", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("届先マスター登録", "Create", "D205", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("包装品名マスター一覧", "Index", "D206", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("包装品名マスター登録", "Create", "D206", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("品名マスター一覧", "Index", "D207", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("品名マスター登録", "Create", "D207", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("出荷場所マスター一覧", "Index", "D208", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("出荷場所マスター登録", "Create", "D208", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("運送方法制御マスター一覧", "Index", "D209", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("運送方法制御マスター登録", "Create", "D209", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("運送方法マスター一覧", "Index", "D210", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("運送方法マスター登録", "Create", "D210", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("運送区分マスター一覧", "Index", "D211", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("運送区分マスター登録", "Create", "D211", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("仕入先別運賃明細マスター一覧", "Index", "D212", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("仕入先別運賃明細マスター登録", "Create", "D212", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("包装費請求制御マスター一覧", "Index", "D213", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("包装費請求制御マスター登録", "Create", "D213", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("請求先統合マスター一覧", "Index", "D214", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("請求先統合マスター登録", "Create", "D214", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("帳票出力名称制御マスター一覧", "Index", "D215", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("帳票出力名称制御マスター登録", "Create", "D215", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("ロールマスター一覧", "Index", "D216", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("ロールマスター登録", "Create", "D216", new { area = "Base" }, null)
                </li> 
                <li>
                    @Html.ActionLink("ユーザーデータ一覧", "Index", "D218", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("ユーザーデータ登録", "Create", "D218", new { area = "Base" }, null)
                </li>
            </ul>
        </div>
    </div>
</div>
