
@{
    ViewBag.Title = "マスターメンテナンス";
    ViewBag.PageMainTitle = "マスターメンテナンス(一括)";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6">
            <ul class="macss-submenu">
                <li>
                    @Html.ActionLink("取引先マスターメンテナンス(一括)", "Index", "D301", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("届先マスターメンテナンス(一括)", "Index", "D302", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("納入先マスターメンテナンス(一括)", "Index", "D303", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("包装商品在庫管理マスターメンテナンス(一括)", "Index", "D304", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("品名マスターメンテナンス(一括)", "Index", "D305", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("契約品名マスターメンテナンス(一括)", "Index", "D306", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("包装商品単価仕入マスターメンテナンス(一括)", "Index", "D307", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("包装商品単価販売マスターメンテナンス(一括)", "Index2", "D307", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("包装費単価マスターメンテナンス(一括)", "Index", "D308", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("包装費資材マスターメンテナンス(一括)", "Index", "D309", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("運送方法制御マスターメンテナンス(一括)", "Index", "D310", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("請求パターンマスターメンテナンス(一括)", "Index", "D311", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("営業費用パターンマスターメンテナンス(一括)", "Index", "D312", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("業務マスターメンテナンス(一括)", "Index", "D313", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("包装費請求制御マスターメンテナンス(一括)", "Index", "D314", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("請求先統合マスターメンテナンス(一括)", "Index", "D315", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("郵便番号マスターメンテナンス(一括)", "Index", "D316", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("基幹配送届先マスターメンテナンス(一括)", "Index", "D317", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("棚番マスターメンテナンス(一括)", "Index", "D318", new { area = "Base" }, null)
                </li>
            </ul>
        </div>
    </div>
</div>
