
@{
    ViewBag.Title = "マスターメンテナンス";
    ViewBag.PageMainTitle = "マスターメンテナンス(汎用)";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6">
            <ul class="macss-submenu">
                <li>
                    @Html.ActionLink("材質コードマスターメンテナンス(汎用)", "Index", "D401", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("業務区分マスターメンテナンス(汎用)", "Index", "D402", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("単位マスターメンテナンス(汎用)", "Index", "D403", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("倉庫マスターメンテナンス(汎用)", "Index", "D404", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("出荷場所毎休日マスターメンテナンス(汎用)", "Index", "D405", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("地区倉庫マスターメンテナンス(汎用)", "Index", "D406", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("操作場所制御マスターメンテナンス(汎用)", "Index", "D407", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("勘定マスターメンテナンス(汎用)", "Index", "D408", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("配賦マスターメンテナンス(汎用)", "Index", "D409", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("Fe機種マスターメンテナンス(汎用)", "Index", "D410", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("PC部門マスターメンテナンス(汎用)", "Index", "D411", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("PC事業区分マスターメンテナンス(汎用)", "Index", "D412", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("PC顧客区分マスターメンテナンス(汎用)", "Index", "D413", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("運送コースマスターメンテナンス(汎用)", "Index", "D414", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("運賃明細名称マスターメンテナンス(汎用)", "Index", "D415", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("伝票区分マスターメンテナンス(汎用)", "Index", "D416", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("請求総括表項目マスターメンテナンス(汎用)", "Index", "D417", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("JISマスターメンテナンス(汎用)", "Index", "D418", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("TMS業務登録・データ連携マスターメンテナンス(汎用)", "Index", "D419", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("基幹配送ルートマスターメンテナンス(汎用)", "Index", "D420", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("基幹配送車両マスターメンテナンス(汎用)", "Index", "D421", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("発番マスターメンテナンス(汎用)", "Index", "D422", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("税率マスターメンテナンス(汎用)", "Index", "D423", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("コード区分マスターメンテナンス(汎用)", "Index", "D424", new { area = "Base" }, null)
                </li>
                <li>
                    @Html.ActionLink("カレンダーマスターメンテナンス(汎用)", "Index", "D425", new { area = "Base" }, null)
                </li>
            </ul>
        </div>
    </div>
</div>
